%h2 Edit Site

= render 'form'

%p If you change your site's name, make sure you update any credentials on your Jekyll site, including references in your Javascript code that make calls to Drumknott's Search API.
