%p Hi there,

%p As requested by you, your account, sites, invoices and page data on Drumknott have all been deleted, and all existing subscriptions have been cancelled.

%p If you ever have any questions or feedback, just hit reply and get in touch.

%p Thanks for using Drumknott, and I hope you have an excellent day.

%p Kind regards,

%p
  Pat Allan
  %br/
  Drumknott
