---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "cus_7jCEvZcDA70Qld",
              "object": "customer",
              "account_balance": 0,
              "created": 1452911453,
              "currency": null,
              "default_source": "card_17Tjq6KmEW6wqTn5B6MY9mSz",
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": "search0001@drumknottsearch.com",
              "livemode": false,
              "metadata": {},
              "shipping": null,
              "sources": {
                "object": "list",
                "data": [
                  {
                    "id": "card_17Tjq6KmEW6wqTn5B6MY9mSz",
                    "object": "card",
                    "address_city": null,
                    "address_country": null,
                    "address_line1": null,
                    "address_line1_check": null,
                    "address_line2": null,
                    "address_state": null,
                    "address_zip": null,
                    "address_zip_check": null,
                    "brand": "Visa",
                    "country": "US",
                    "customer": "cus_7jCEvZcDA70Qld",
                    "cvc_check": "pass",
                    "dynamic_last4": null,
                    "exp_month": 1,
                    "exp_year": 2018,
                    "fingerprint": "hVL7TXrWX40QyAKg",
                    "funding": "credit",
                    "last4": "0341",
                    "metadata": {},
                    "name": null,
                    "tokenization_method": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_7jCEvZcDA70Qld/sources"
              },
              "subscriptions": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/customers/cus_7jCEvZcDA70Qld/subscriptions"
              }
            }
          ],
          "has_more": false,
          "url": "/v1/customers"
        }
  recorded_at: Sat, 16 Jan 2016 02:31:59 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_7jCEvZcDA70Qld
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "cus_7jCEvZcDA70Qld"
        }
  recorded_at: Sat, 16 Jan 2016 02:32:01 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/coupons"
        }
  recorded_at: Sat, 16 Jan 2016 02:32:02 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "drumknott",
              "object": "plan",
              "amount": 300,
              "created": 1452911452,
              "currency": "usd",
              "interval": "month",
              "interval_count": 1,
              "livemode": false,
              "metadata": {},
              "name": "Drumknott Test",
              "statement_descriptor": null,
              "trial_period_days": null
            }
          ],
          "has_more": false,
          "url": "/v1/plans"
        }
  recorded_at: Sat, 16 Jan 2016 02:32:03 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/plans/drumknott
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "drumknott"
        }
  recorded_at: Sat, 16 Jan 2016 02:32:04 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=123&card[exp_month]=1&card[exp_year]=2018&card[number]=4000000000000341
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17TjrHKmEW6wqTn5NcHOd0fB",
          "object": "token",
          "card": {
            "id": "card_17TjrHKmEW6wqTn5j7sPBodp",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 1,
            "exp_year": 2018,
            "fingerprint": "hVL7TXrWX40QyAKg",
            "funding": "credit",
            "last4": "0341",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "118.209.178.50",
          "created": 1452911527,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sat, 16 Jan 2016 02:32:07 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7jCFXxdZwpAgF5/sources
    body:
      encoding: US-ASCII
      string: source=tok_17TjrHKmEW6wqTn5NcHOd0fB
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_17TjrHKmEW6wqTn5j7sPBodp",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_7jCFXxdZwpAgF5",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 1,
          "exp_year": 2018,
          "fingerprint": "hVL7TXrWX40QyAKg",
          "funding": "credit",
          "last4": "0341",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Sat, 16 Jan 2016 02:32:09 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7jCFXxdZwpAgF5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
      [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7jCFXxdZwpAgF5/subscriptions
    body:
      encoding: US-ASCII
      string: plan=drumknott&trial_end=1452911532
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_7jCF1kng0JoGsR",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "current_period_end": 1452911532,
          "current_period_start": 1452911531,
          "customer": "cus_7jCFXxdZwpAgF5",
          "discount": null,
          "ended_at": null,
          "metadata": {},
          "plan": {
            "id": "drumknott",
            "object": "plan",
            "amount": 300,
            "created": 1452911525,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "Drumknott Test",
            "statement_descriptor": null,
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1452911531,
          "status": "active",
          "tax_percent": null,
          "trial_end": 1452911532,
          "trial_start": 1452911531
        }
  recorded_at: Sat, 16 Jan 2016 02:32:12 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_7jCFXxdZwpAgF5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "in_17TjuAKmEW6wqTn5eY6n1fE7",
              "object": "invoice",
              "amount_due": 300,
              "application_fee": null,
              "attempt_count": 0,
              "attempted": false,
              "charge": null,
              "closed": false,
              "currency": "usd",
              "customer": "cus_7jCFXxdZwpAgF5",
              "date": 1452911706,
              "description": null,
              "discount": null,
              "ending_balance": null,
              "forgiven": false,
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_7jCF1kng0JoGsR",
                    "object": "line_item",
                    "amount": 300,
                    "currency": "usd",
                    "description": null,
                    "discountable": true,
                    "livemode": false,
                    "metadata": {},
                    "period": {
                      "start": 1452911532,
                      "end": 1455589932
                    },
                    "plan": {
                      "id": "drumknott",
                      "object": "plan",
                      "amount": 300,
                      "created": 1452911525,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Drumknott Test",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "proration": false,
                    "quantity": 1,
                    "subscription": null,
                    "type": "subscription"
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/invoices/in_17TjuAKmEW6wqTn5eY6n1fE7/lines"
              },
              "livemode": false,
              "metadata": {},
              "next_payment_attempt": 1452915306,
              "paid": false,
              "period_end": 1452911532,
              "period_start": 1452911531,
              "receipt_number": null,
              "starting_balance": 0,
              "statement_descriptor": null,
              "subscription": "sub_7jCF1kng0JoGsR",
              "subtotal": 300,
              "tax": null,
              "tax_percent": null,
              "total": 300,
              "webhooks_delivered_at": 1452911706
            },
            {
              "id": "in_17TjrLKmEW6wqTn5b1eNVxPK",
              "object": "invoice",
              "amount_due": 0,
              "application_fee": null,
              "attempt_count": 0,
              "attempted": true,
              "charge": null,
              "closed": true,
              "currency": "usd",
              "customer": "cus_7jCFXxdZwpAgF5",
              "date": 1452911531,
              "description": null,
              "discount": [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_17TjuAKmEW6wqTn5eY6n1fE7/pay
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "Your card was declined.",
            "code": "card_declined"
          }
        }
  recorded_at: Sat, 16 Jan 2016 02:38:20 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7jCFXxdZwpAgF5/subscriptions/sub_7jCF1kng0JoGsR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encod[...]
