---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "cus_BvAhXoSbaWMTTv",
              "object": "customer",
              "account_balance": 0,
              "created": 1512872157,
              "currency": "usd",
              "default_source": "card_BvAhsRZ9YtFOeM",
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": "search0016@drumknottsearch.com",
              "livemode": false,
              "metadata": {},
              "shipping": null,
              "sources": {
                "object": "list",
                "data": [
                  {
                    "id": "card_BvAhsRZ9YtFOeM",
                    "object": "card",
                    "address_city": null,
                    "address_country": null,
                    "address_line1": null,
                    "address_line1_check": null,
                    "address_line2": null,
                    "address_state": null,
                    "address_zip": null,
                    "address_zip_check": null,
                    "brand": "Visa",
                    "country": "US",
                    "customer": "cus_BvAhXoSbaWMTTv",
                    "cvc_check": "pass",
                    "dynamic_last4": null,
                    "exp_month": 1,
                    "exp_year": 2019,
                    "fingerprint": "DCZbB0jNI6O56OrA",
                    "funding": "credit",
                    "last4": "4242",
                    "metadata": {},
                    "name": null,
                    "tokenization_method": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_BvAhXoSbaWMTTv/sources"
              },
              "subscriptions": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_BvAhf026T3cQF5",
                    "object": "subscription",
                    "application_fee_percent": null,
                    "billing": "charge_automatically",
                    "cancel_at_period_end": false,
                    "canceled_at": null,
                    "created": 1512872164,
                    "current_period_end": 1515550564,
                    "current_period_start": 1512872164,
                    "customer": "cus_BvAhXoSbaWMTTv",
                    "discount": null,
                    "ended_at": null,
                    "items": {
                      "object": "list",
                      "data": [
                        {
                          "id": "si_BvAhEApRerRCc6",
                          "object": "subscription_item",
                          "created": 1512872165,
                          "metadata": {},
                          "plan": {
                            "id": "drumknott",
                            "object": "plan",
                            "amount": 300,
                            "created": 1512872155,
                            "currency": "usd",
                            "interval": "month",
                            "interval_count": 1,
                            "livemode": false,
                            "metadata": {},
                            "name": "Drumknott Test",
                            "statement_descriptor": null,
                            "trial_period_days": null
                          },
                          "quantity": 1
                        }
                      ],
                      "has_more": false,
                      "total_count": 1,
                      "url": "/v1/subscription_items?subscription=sub_BvAhf026T3cQF5"
                    },
                    "livemode": false,
                    "metadata": {},
                    "plan": {
                      "id": "drumknott",
                      "object": "plan",
                      "amount": 300,
                      "created": 1512872155,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Drumknott Test",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "quantity": 1,
                    "start": 1512872164,
                    "status": "active",
                    "tax_percent": null,
                    "trial_end": null,
                    "trial_start": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_BvAhXoSbaWMTTv/subscriptions"
              }
            }
          ],
          "has_more": false,
          "url": "/v1/customers"
        }
  recorded_at: Sun, 10 Dec 2017 02:16:39 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_BvAhXoSbaWMTTv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "cus_BvAhXoSbaWMTTv"
        }
  recorded_at: Sun, 10 Dec 2017 02:16:40 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/coupons"
        }
  recorded_at: Sun, 10 Dec 2017 02:16:41 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "drumknott",
              "object": "plan",
              "amount": 300,
              "created": 1512872155,
              "currency": "usd",
              "interval": "month",
              "interval_count": 1,
              "livemode": false,
              "metadata": {},
              "name": "Drumknott Test",
              "statement_descriptor": null,
              "trial_period_days": null
            }
          ],
          "has_more": false,
          "url": "/v1/plans"
        }
  recorded_at: Sun, 10 Dec 2017 02:16:43 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/plans/drumknott
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "drumknott"
        }
  recorded_at: Sun, 10 Dec 2017 02:16:44 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4000000000000341&card[exp_month]=1&card[exp_year]=2019&card[cvc]=123
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_BvAiX9XCGdviro",
          "object": "token",
          "card": {
            "id": "card_BvAirHENVNO5GW",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 1,
            "exp_year": 2019,
            "fingerprint": "22Vkbw4tr8xDhC2Q",
            "funding": "credit",
            "last4": "0341",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "58.7.133.233",
          "created": 1512872207,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sun, 10 Dec 2017 02:16:48 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_BvAigHdaqjZFJa/sources
    body:
      encoding: UTF-8
      string: source=tok_BvAiX9XCGdviro
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_BvAirHENVNO5GW",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_BvAigHdaqjZFJa",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 1,
          "exp_year": 2019,
          "fingerprint": "22Vkbw4tr8xDhC2Q",
          "funding": "credit",
          "last4": "0341",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Sun, 10 Dec 2017 02:16:50 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_BvAigHdaqjZFJa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
      [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_BvAigHdaqjZFJa/subscriptions
    body:
      encoding: UTF-8
      string: plan=drumknott&trial_end=1512872219
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_BvAigHdaqjZFJa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "in_BvAjqe2AkgnErn",
              "object": "invoice",
              "amount_due": 300,
              "application_fee": null,
              "attempt_count": 0,
              "attempted": false,
              "billing": "charge_automatically",
              "charge": null,
              "closed": false,
              "currency": "usd",
              "customer": "cus_BvAigHdaqjZFJa",
              "date": 1512872296,
              "description": null,
              "discount": null,
              "ending_balance": null,
              "forgiven": false,
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_BvAi2KBXChaERA",
                    "object": "line_item",
                    "amount": 300,
                    "currency": "usd",
                    "description": null,
                    "discountable": true,
                    "livemode": false,
                    "metadata": {},
                    "period": {
                      "start": 1512872219,
                      "end": 1515550619
                    },
                    "plan": {
                      "id": "drumknott",
                      "object": "plan",
                      "amount": 300,
                      "created": 1512872205,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Drumknott Test",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "proration": false,
                    "quantity": 1,
                    "subscription": null,
                    "subscription_item": "si_BvAiCBu3azXZNl",
                    "type": "subscription"
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/invoices/in_BvAjqe2AkgnErn/lines"
              },
              "livemode": false,
              "metadata": {},
              "next_payment_attempt": 1512875896,
              "number": "f8b9cee28f-0002",
              "paid": false,
              "period_end": 1512872219,
              "period_start": 1512872213,
              "receipt_number": null,
              "starting_balance": 0,
              "statement_descriptor": null,
              "subscription": "sub_BvAi2KBXChaERA",
              "subtotal": 300,
              "tax": null,
              "tax_percent": null,
              "total": 300,
              "webhooks_delivered_at": 1512872296
            },
            {
              "id": "in_BvAiQjfI1gcEnK",
              "object": "invoice",
              "amount_due": 0,
              "application_fee": null,
              "attempt_count": 0,
              "attempted": true,
              "billing": "charge_automatically",
              "charge": null,
              "closed": true,
              "currency": "usd",
              "customer": "cus_BvAigHdaqjZFJa",
              "date": 1512872213,
              "descrip[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_BvAjqe2AkgnErn/pay
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "Your card was declined.",
            "code": "card_declined"
          }
        }
  recorded_at: Sun, 10 Dec 2017 02:23:00 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_BvAigHdaqjZFJa/subscriptions/sub_BvAi2KBXChaERA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encod[...]
