---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-12-14'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "cus_ILmXRb5R8aEN7p",
              "object": "customer",
              "account_balance": 0,
              "address": null,
              "balance": 0,
              "created": 1604807648,
              "currency": "usd",
              "default_source": "card_0Hl54gkKe4kFpYbdPH3jmAD6",
              "delinquent": true,
              "description": null,
              "discount": null,
              "email": "search0018@drumknottsearch.com",
              "invoice_prefix": "7D102D5A",
              "invoice_settings": {
                "custom_fields": null,
                "default_payment_method": null,
                "footer": null
              },
              "livemode": false,
              "metadata": {
              },
              "name": null,
              "next_invoice_sequence": 3,
              "phone": null,
              "preferred_locales": [

              ],
              "shipping": null,
              "sources": {
                "object": "list",
                "data": [
                  {
                    "id": "card_0Hl54gkKe4kFpYbdPH3jmAD6",
                    "object": "card",
                    "address_city": null,
                    "address_country": null,
                    "address_line1": null,
                    "address_line1_check": null,
                    "address_line2": null,
                    "address_state": null,
                    "address_zip": null,
                    "address_zip_check": null,
                    "brand": "MasterCard",
                    "country": "US",
                    "customer": "cus_ILmXRb5R8aEN7p",
                    "cvc_check": "pass",
                    "dynamic_last4": null,
                    "exp_month": 1,
                    "exp_year": 2022,
                    "fingerprint": "u2XCpbKocAAd1E7E",
                    "funding": "credit",
                    "last4": "4444",
                    "metadata": {
                    },
                    "name": null,
                    "tokenization_method": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_ILmXRb5R8aEN7p/sources"
              },
              "subscriptions": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_ILmXOxqJpShXPG",
                    "object": "subscription",
                    "application_fee_percent": null,
                    "billing": "charge_automatically",
                    "billing_cycle_anchor": 1604807658,
                    "billing_thresholds": null,
                    "cancel_at": null,
                    "cancel_at_period_end": false,
                    "canceled_at": null,
                    "collection_method": "charge_automatically",
                    "created": 1604807651,
                    "current_period_end": 1607399658,
                    "current_period_start": 1604807658,
                    "customer": "cus_ILmXRb5R8aEN7p",
                    "days_until_due": null,
                    "default_payment_method": null,
                    "default_source": null,
                    "default_tax_rates": [

                    ],
                    "discount": null,
                    "ended_at": null,
                    "invoice_customer_balance_settings": {
                      "consume_applied_balance_on_void": true
                    },
                    "items": {
                      "object": "list",
                      "data": [
                        {
                          "id": "si_ILmXVu9GoVithD",
                          "object": "subscription_item",
                          "billing_thresholds": null,
                          "created": 1604807652,
                          "metadata": {
                          },
                          "plan": {
                            "id": "drumknott",
                            "object": "plan",
                            "active": true,
                            "aggregate_usage": null,
                            "amount": 300,
                            "amount_decimal": "300",
                            "billing_scheme": "per_unit",
                            "created": 1604807648,
                            "currency": "usd",
                            "interval": "month",
                            "interval_count": 1,
                            "livemode": false,
                            "metadata": {
                            },
                            "name": "Drumknott Test",
                            "nickname": null,
                            "product": "prod_ILmXWUcM1gb7mR",
                            "statement_descriptor": null,
                            "tiers": null,
                            "tiers_mode": null,
                            "transform_usage": null,
                            "trial_period_days": null,
                            "usage_type": "licensed"
                          },
                          "price": {
                            "id": "drumknott",
                            "object": "price",
                            "active": true,
                            "billing_scheme": "per_unit",
                            "created": 1604807648,
                            "currency": "usd",
                            "livemode": false,
                            "lookup_key": null,
                            "metadata": {
                            },
                            "nickname": null,
                            "product": "prod_ILmXWUcM1gb7mR",
                            "recurring": {
                              "aggregate_usage": null,
                              "interval": "month",
                              "interval_count": 1,
                              "trial_period_days": null,
                              "usage_type": "licensed"
                            },
                            "tiers_mode": null,
                            "transform_quantity": null,
                            "type": "recurring",
                            "unit_amount": 300,
                            "unit_amount_decimal": "300"
                          },
                          "quantity": 1,
                          "subscription": "sub_ILmXOxqJpShXPG",
                          "tax_rates": [

                          ]
                        }
                      ],
                      "has_more": false,
                      "total_count": 1,
                      "url": "/v1/subscription_items?subscription=sub_ILmXOxqJpShXPG"
                    },
                    "latest_invoice": "in_0Hl4zSkKe4kFpYbdbCgHbdPE",
                    "livemode": false,
                    "metadata": {
                    },
                    "next_pending_invoice_item_invoice": null,
                    "pause_collection": null,
                    "pending_invoice_item_interval": null,
                    "pending_setup_intent": null,
                    "pending_update": null,
                    "plan": {
                      "id": "drumknott",
                      "object": "plan",
                      "active": true,
                      "aggregate_usage": null,
                      "amount": 300,
                      "amount_decimal": "300",
                      "billing_scheme": "per_unit",
                      "created": 1604807648,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {
                      },
                      "name": "Drumknott Test",
                      "nickname": null,
                      "product": "prod_ILmXWUcM1gb7mR",
                      "statement_descriptor": null,
                      "tiers": null,
                      "tiers_mode": null,
                      "transform_usage": null,
                      "trial_period_days": null,
                      "usage_type": "licensed"
                    },
                    "quantity": 1,
                    "schedule": null,
                    "start": 1604807651,
                    "start_date": 1604807651,
                    "status": "past_due",
                    "tax_percent": null,
                    "transfer_data": null,
                    "trial_end": 1604807658,
                    "trial_start": 1604807651
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_ILmXRb5R8aEN7p/subscriptions"
              },
              "tax_exempt": "none",
              "tax_ids": {
                "object": "list",
                "data": [

                ],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/customers/cus_ILmXRb5R8aEN7p/tax_ids"
              },
              "tax_info": null,
              "tax_info_verification": null
            }
          ],
          "has_more": false,
          "url": "/v1/customers"
        }
  recorded_at: Sun, 08 Nov 2020 04:00:22 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_ILmXRb5R8aEN7p
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-12-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_ILmXRb5R8aEN7p",
          "object": "customer",
          "deleted": true
        }
  recorded_at: Sun, 08 Nov 2020 04:00:25 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-12-14'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [

          ],
          "has_more": false,
          "url": "/v1/coupons"
        }
  recorded_at: Sun, 08 Nov 2020 04:00:25 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-12-14'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "drumknott",
              "object": "plan",
              "active": true,
              "aggregate_usage": null,
              "amount": 300,
              "amount_decimal": "300",
              "billing_scheme": "per_unit",
              "created": 1604807648,
              "currency": "usd",
              "interval": "month",
              "interval_count": 1,
              "livemode": false,
              "metadata": {
              },
              "name": "Drumknott Test",
              "nickname": null,
              "product": "prod_ILmXWUcM1gb7mR",
              "statement_descriptor": null,
              "tiers": null,
              "tiers_mode": null,
              "transform_usage": null,
              "trial_period_days": null,
              "usage_type": "licensed"
            }
          ],
          "has_more": false,
          "url": "/v1/plans"
        }
  recorded_at: Sun, 08 Nov 2020 04:00:26 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/plans/drumknott
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-12-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "drumknott",
          "object": "plan",
          "deleted": true
        }
  recorded_at: Sun, 08 Nov 2020 04:00:27 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=1&card[exp_year]=2022&card[cvc]=123
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-12-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_0Hl54qkKe4kFpYbdrPyJ83TQ",
          "object": "token",
          "card": {
            "id": "card_0Hl54qkKe4kFpYbdvumttBhR",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 1,
            "exp_year": 2022,
            "fingerprint": "DCZbB0jNI6O56OrA",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "1.136.106.142",
          "created": 1604808028,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sun, 08 Nov 2020 04:00:28 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_ILmewRi8f13Pc0/sources
    body:
      encoding: UTF-8
      string: source=tok_0Hl54qkKe4kFpYbdrPyJ83TQ
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-12-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_0Hl54qkKe4kFpYbdvumttBhR",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_ILmewRi8f13Pc0",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 1,
          "exp_year": 2022,
          "fingerprint": "DCZbB0jNI6O56OrA",
          "funding": "credit",
          "last4": "4242",
          "metadata": {
          },
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Sun, 08 Nov 2020 04:00:29 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_ILmewRi8f13Pc0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-12-14'
    body:
      encoding: UTF-8
      string: |
      [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_ILmewRi8f13Pc0/subscriptions
    body:
      encoding: UTF-8
      string: plan=drumknott
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-12-14'
    body:
      encoding: UTF-[...]
[...]
