---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-12-14'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "cus_NAIZ49Bij3uBNB",
              "object": "customer",
              "account_balance": 0,
              "address": null,
              "balance": 0,
              "created": 1673657533,
              "currency": "usd",
              "default_currency": "usd",
              "default_source": "card_0MPxyokKe4kFpYbd34NkcCdR",
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": "search0002@drumknottsearch.com",
              "invoice_prefix": "CC2ADB30",
              "invoice_settings": {
                "custom_fields": null,
                "default_payment_method": null,
                "footer": null,
                "rendering_options": null
              },
              "livemode": false,
              "metadata": {},
              "name": null,
              "next_invoice_sequence": 2,
              "phone": null,
              "preferred_locales": [],
              "shipping": null,
              "sources": {
                "object": "list",
                "data": [
                  {
                    "id": "card_0MPxyokKe4kFpYbd34NkcCdR",
                    "object": "card",
                    "address_city": null,
                    "address_country": null,
                    "address_line1": null,
                    "address_line1_check": null,
                    "address_line2": null,
                    "address_state": null,
                    "address_zip": null,
                    "address_zip_check": null,
                    "brand": "MasterCard",
                    "country": "US",
                    "customer": "cus_NAIZ49Bij3uBNB",
                    "cvc_check": "pass",
                    "dynamic_last4": null,
                    "exp_month": 1,
                    "exp_year": 2025,
                    "fingerprint": "u2XCpbKocAAd1E7E",
                    "funding": "credit",
                    "last4": "4444",
                    "metadata": {},
                    "name": null,
                    "tokenization_method": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_NAIZ49Bij3uBNB/sources"
              },
              "subscriptions": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_0MPxylkKe4kFpYbde1hc9ecY",
                    "object": "subscription",
                    "application": null,
                    "application_fee_percent": null,
                    "automatic_tax": {
                      "enabled": false
                    },
                    "billing": "charge_automatically",
                    "billing_cycle_anchor": 1673657535,
                    "billing_thresholds": null,
                    "cancel_at": null,
                    "cancel_at_period_end": false,
                    "canceled_at": null,
                    "collection_method": "charge_automatically",
                    "created": 1673657535,
                    "currency": "usd",
                    "current_period_end": 1676335935,
                    "current_period_start": 1673657535,
                    "customer": "cus_NAIZ49Bij3uBNB",
                    "days_until_due": null,
                    "default_payment_method": null,
                    "default_source": null,
                    "default_tax_rates": [],
                    "description": null,
                    "discount": null,
                    "ended_at": null,
                    "invoice_customer_balance_settings": {
                      "consume_applied_balance_on_void": true
                    },
                    "items": {
                      "object": "list",
                      "data": [
                        {
                          "id": "si_NAIZWtMSySRPZP",
                          "object": "subscription_item",
                          "billing_thresholds": null,
                          "created": 1673657535,
                          "metadata": {},
                          "plan": {
                            "id": "drumknott",
                            "object": "plan",
                            "active": true,
                            "aggregate_usage": null,
                            "amount": 300,
                            "amount_decimal": "300",
                            "billing_scheme": "per_unit",
                            "created": 1604809947,
                            "currency": "usd",
                            "interval": "month",
                            "interval_count": 1,
                            "livemode": false,
                            "metadata": {},
                            "name": "Drumknott Test",
                            "nickname": null,
                            "product": "prod_ILnAkJFwBWFPnl",
                            "statement_descriptor": null,
                            "tiers": null,
                            "tiers_mode": null,
                            "transform_usage": null,
                            "trial_period_days": null,
                            "usage_type": "licensed"
                          },
                          "price": {
                            "id": "drumknott",
                            "object": "price",
                            "active": true,
                            "billing_scheme": "per_unit",
                            "created": 1604809947,
                            "currency": "usd",
                            "custom_unit_amount": null,
                            "livemode": false,
                            "lookup_key": null,
                            "metadata": {},
                            "nickname": null,
                            "product": "prod_ILnAkJFwBWFPnl",
                            "recurring": {
                              "aggregate_usage": null,
                              "interval": "month",
                              "interval_count": 1,
                              "trial_period_days": null,
                              "usage_type": "licensed"
                            },
                            "tax_behavior": "unspecified",
                            "tiers_mode": null,
                            "transform_quantity": null,
                            "type": "recurring",
                            "unit_amount": 300,
                            "unit_amount_decimal": "300"
                          },
                          "quantity": 1,
                          "subscription": "sub_0MPxylkKe4kFpYbde1hc9ecY",
                          "tax_rates": []
                        }
                      ],
                      "has_more": false,
                      "total_count": 1,
                      "url": "/v1/subscription_items?subscription=sub_0MPxylkKe4kFpYbde1hc9ecY"
                    },
                    "latest_invoice": "in_0MPxylkKe4kFpYbdDxBzdWPz",
                    "livemode": false,
                    "metadata": {},
                    "next_pending_invoice_item_invoice": null,
                    "on_behalf_of": null,
                    "pause_collection": null,
                    "payment_settings": {
                      "payment_method_options": null,
                      "payment_method_types": null,
                      "save_default_payment_method": "off"
                    },
                    "pending_invoice_item_interval": null,
                    "pending_setup_intent": null,
                    "pending_update": null,
                    "plan": {
                      "id": "drumknott",
                      "object": "plan",
                      "active": true,
                      "aggregate_usage": null,
                      "amount": 300,
                      "amount_decimal": "300",
                      "billing_scheme": "per_unit",
                      "created": 1604809947,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Drumknott Test",
                      "nickname": null,
                      "product": "prod_ILnAkJFwBWFPnl",
                      "statement_descriptor": null,
                      "tiers": null,
                      "tiers_mode": null,
                      "transform_usage": null,
                      "trial_period_days": null,
                      "usage_type": "licensed"
                    },
                    "quantity": 1,
                    "schedule": null,
                    "start": 1673657535,
                    "start_date": 1673657535,
                    "status": "active",
                    "tax_percent": null,
                    "test_clock": null,
                    "transfer_data": null,
                    "trial_end": null,
                    "trial_start": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_NAIZ49Bij3uBNB/subscriptions"
              },
              "tax_exempt": "none",
              "tax_ids": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/customers/cus_NAIZ49Bij3uBNB/tax_ids"
              },
              "tax_info": null,
              "tax_info_verification": null,
              "test_clock": null
            }
          ],
          "has_more": false,
          "url": "/v1/customers"
        }
  recorded_at: Sat, 14 Jan 2023 00:55:14 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_NAIZ49Bij3uBNB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-12-14'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_NAIZ49Bij3uBNB",
          "object": "customer",
          "deleted": true
        }
  recorded_at: Sat, 14 Jan 2023 00:55:15 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-12-14'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/coupons"
        }
  recorded_at: Sat, 14 Jan 2023 00:55:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=search0002%40drumknottsearch.com
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - db85f892-eeee-4f35-97a8-9a83947c9c3b
      Original-Request:
      - req_fDAgExeSgDImzl
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2017-12-14'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_NAIcE80WwpJnAe",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "balance": 0,
          "created": 1673657715,
          "currency": null,
          "default_currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
       [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=1&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 89479c58-b7bd-4eb6-a742-efc6e4ab5c21
      Original-Request:
      - req_kbT8DTwpYkOaYu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2017-12-14'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_0MPy1gkKe4kFpYbdGvt8Yrzh",
          "object": "token",
          "card": {
            "id": "card_0MPy1gkKe4kFpYbdFg9vmn7R",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 1,
            "exp_year": 2025,
            "fingerprint": "DCZbB0jNI6O56OrA",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "180.150.36.155",
          "created": 1673657716,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sat, 14 Jan 2023 00:55:16 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_NAIcE80WwpJnAe/sources
    body:
      encoding: UTF-8
      string: source=tok_0MPy1gkKe4kFpYbdGvt8Yrzh
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f7b93645-a615-43f1-9a0d-0db[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_NAIcE80WwpJnAe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-12-14'
    body:
      encoding: UTF-8
      string: |-
     [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_NAIcE80WwpJnAe/subscriptions
    body:
      encoding: UTF-8
      string: plan=drumknott
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 63769b40-200e-4c62-83e5-0f14c49598e0
     [...]
[...]
