---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "cus_7iB0ASILIhIpbJ",
              "object": "customer",
              "account_balance": 0,
              "created": 1452676240,
              "currency": "usd",
              "default_source": "card_17SkeLKmEW6wqTn5tCmWs8yl",
              "delinquent": true,
              "description": null,
              "discount": null,
              "email": "search0001@drumknottsearch.com",
              "livemode": false,
              "metadata": {},
              "shipping": null,
              "sources": {
                "object": "list",
                "data": [
                  {
                    "id": "card_17SkeLKmEW6wqTn5tCmWs8yl",
                    "object": "card",
                    "address_city": null,
                    "address_country": null,
                    "address_line1": null,
                    "address_line1_check": null,
                    "address_line2": null,
                    "address_state": null,
                    "address_zip": null,
                    "address_zip_check": null,
                    "brand": "Visa",
                    "country": "US",
                    "customer": "cus_7iB0ASILIhIpbJ",
                    "cvc_check": "pass",
                    "dynamic_last4": null,
                    "exp_month": 1,
                    "exp_year": 2018,
                    "fingerprint": "hVL7TXrWX40QyAKg",
                    "funding": "credit",
                    "last4": "0341",
                    "metadata": {},
                    "name": null,
                    "tokenization_method": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_7iB0ASILIhIpbJ/sources"
              },
              "subscriptions": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_7iB0j5VtLGNNyV",
                    "object": "subscription",
                    "application_fee_percent": null,
                    "cancel_at_period_end": false,
                    "canceled_at": null,
                    "current_period_end": 1455354645,
                    "current_period_start": 1452676245,
                    "customer": "cus_7iB0ASILIhIpbJ",
                    "discount": null,
                    "ended_at": null,
                    "metadata": {},
                    "plan": {
                      "id": "drumknott",
                      "object": "plan",
                      "amount": 300,
                      "created": 1452676239,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Drumknott Test",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "quantity": 1,
                    "start": 1452676243,
                    "status": "past_due",
                    "tax_percent": null,
                    "trial_end": 1452676245,
                    "trial_start": 1452676243
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_7iB0ASILIhIpbJ/subscriptions"
              }
            }
          ],
          "has_more": false,
          "url": "/v1/customers"
        }
  recorded_at: Thu, 14 Jan 2016 09:05:55 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_7iB0ASILIhIpbJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "cus_7iB0ASILIhIpbJ"
        }
  recorded_at: Thu, 14 Jan 2016 09:05:57 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/coupons"
        }
  recorded_at: Thu, 14 Jan 2016 09:05:58 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "drumknott",
              "object": "plan",
              "amount": 300,
              "created": 1452676239,
              "currency": "usd",
              "interval": "month",
              "interval_count": 1,
              "livemode": false,
              "metadata": {},
              "name": "Drumknott Test",
              "statement_descriptor": null,
              "trial_period_days": null
            }
          ],
          "has_more": false,
          "url": "/v1/plans"
        }
  recorded_at: Thu, 14 Jan 2016 09:05:59 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/plans/drumknott
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "drumknott"
        }
  recorded_at: Thu, 14 Jan 2016 09:06:00 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=123&card[exp_month]=1&card[exp_year]=2018&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17T73PKmEW6wqTn5ZAR9sld7",
          "object": "token",
          "card": {
            "id": "card_17T73PKmEW6wqTn5wO7wV83V",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 1,
            "exp_year": 2018,
            "fingerprint": "fJA9T7VsmVzC26CG",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "118.209.178.50",
          "created": 1452762363,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 14 Jan 2016 09:06:03 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7iY9QTjFqmRTTa/sources
    body:
      encoding: US-ASCII
      string: source=tok_17T73PKmEW6wqTn5ZAR9sld7
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_17T73PKmEW6wqTn5wO7wV83V",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_7iY9QTjFqmRTTa",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 1,
          "exp_year": 2018,
          "fingerprint": "fJA9T7VsmVzC26CG",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Thu, 14 Jan 2016 09:06:04 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7iY9QTjFqmRTTa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
      [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7iY9QTjFqmRTTa/subscriptions
    body:
      encoding: US-ASCII
      string: plan=drumknott
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "evt_17T73TKmEW6wqTn53pzu45t9",
              "object": "event",
              "api_version": "2015-10-16",
              "created": 1452762367,
              "data": {
                "object": {
                  "id": "sub_7iY9P20q5MYKgo",
                  "object": "subscription",
                  "application_fee_percent": null,
                  "cancel_at_period_end": false,
                  "canceled_at": null,
                  "current_period_end": 1455440767,
                  "current_period_start": 1452762367,
                  "customer": "cus_7iY9QTjFqmRTTa",
                  "discount": null,
                  "ended_at": null,
                  "metadata": {},
                  "plan": {
                    "id": "drumknott",
                    "object": "plan",
                    "amount": 300,
                    "created": 1452762361,
                    "currency": "usd",
                    "interval": "month",
                    "interval_count": 1,
                    "livemode": false,
                    "metadata": {},
                    "name": "Drumknott Test",
                    "statement_descriptor": null,
                    "trial_period_days": null
                  },
                  "quantity": 1,
                  "start": 1452762367,
                  "status": "active",
                  "tax_percent": null,
                  "trial_end": null,
                  "trial_start": null
                }
              },
              "livemode": false,
              "pending_webhooks": 0,
              "request": "req_7iY9gL9rdvoWpd",
              "type": "customer.subscription.created"
            },
            {
              "id": "evt_17T73TKmEW6wqTn5ToxzVsyL",
              "object": "event",
              "api_version": "2015-10-16",
              "created": 1452762367,
              "data": {
                "object": {
                  "id": "in_17T73TKmEW6wqTn5JYSHdMMz",
                  "object": "invoice",
                  "amount_due": 300,
                  "application_fee": null,
                  "attempt_count": 1,
                  "attempted": true,
                  "charge": "ch_17T73TKmEW6wqTn500jpG19h",
                  "closed": true,
                  "currency": "usd",
                  "customer": "cus_7iY9QTjFqmRTTa",
                  "date": 1452762367,
                  "description": null,
                  "discount": null,
                  "ending_balance": 0,
                  "forgiven": false,
                  "lines": {
                    "object": "list",
                    "data": [
                      {
                        "id": "sub_7iY9P20q5MYKgo",
                        "object": "line_item",
                        "amount": 300,
                        "currency": "usd",
                        "description": null,
                        "discountable": true,
                        "livemode": false,
                        "metadata": {},
                        "period": {
                          "start": 1452762367,
                          "end": 1455440767
                        },
                        "plan": {
                          "id": "drumknott",
                          "object": "plan",
                          "amount": 300,
                          "created": 1452762361,
                          "currency": "usd",
                          "interval": "month",
                          "interval_count": 1,
                          "livemode": false,
                          "metadata": {},
                          "name": "Drumknott Test",
                          "statement_descriptor": null,
                          "trial_period_days": null
                        },
                        "proration": false,
                        "quantity": 1,
                        "subscription": null,
                        "type": "subscription"
                      }
                    ],
                    "has_more": false,
                    "total_count": 1,
                    "url": "/v1/invoices/in_17T73TKmEW6wqTn5JYSHdMMz/lines"
                  },
                  "livemode": false,
                  "metadata": {},
                  "next_payment_attempt": null,
                  "paid": true,
                  "period_end": 1452762367,
                  "period_start": 1452762367,
                  "receipt_number": null,
                  "starting_balance": 0,
                  "statement_descriptor": null,
                  "subscription": "sub_7iY9P20q5MYKgo",
                  "subtotal": 300,
                  "tax": null,
                  "tax_percent": null,
                  "total": 300,
                  "webhooks_delivered_at": null
                }
              },
              "livemode": false,
              "pending_webhooks": 0,
              "request": "req_7iY9gL9rdvoWpd",
              "type": "invoice.payment_succeeded"
            },
            {
              "id": "evt_17T73TKmEW6wqTn5nkMGsO9v",
              "object": "event",
              "api_version": "2015-10-16",
              "created": 1452762367,
              "data": {
                "object": {
                  "id": "in_17T73TKmEW6wqTn5JY[...]
