---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "cus_BvAp92ZKNHvawd",
              "object": "customer",
              "account_balance": 0,
              "created": 1512872637,
              "currency": "usd",
              "default_source": "card_BvApOhynFe9xzk",
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": "search0028@drumknottsearch.com",
              "livemode": false,
              "metadata": {},
              "shipping": null,
              "sources": {
                "object": "list",
                "data": [
                  {
                    "id": "card_BvApOhynFe9xzk",
                    "object": "card",
                    "address_city": null,
                    "address_country": null,
                    "address_line1": null,
                    "address_line1_check": null,
                    "address_line2": null,
                    "address_state": null,
                    "address_zip": null,
                    "address_zip_check": null,
                    "brand": "Visa",
                    "country": "US",
                    "customer": "cus_BvAp92ZKNHvawd",
                    "cvc_check": "pass",
                    "dynamic_last4": null,
                    "exp_month": 1,
                    "exp_year": 2019,
                    "fingerprint": "DCZbB0jNI6O56OrA",
                    "funding": "credit",
                    "last4": "4242",
                    "metadata": {},
                    "name": null,
                    "tokenization_method": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_BvAp92ZKNHvawd/sources"
              },
              "subscriptions": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_BvAp7U34lXfKrs",
                    "object": "subscription",
                    "application_fee_percent": null,
                    "billing": "charge_automatically",
                    "cancel_at_period_end": false,
                    "canceled_at": null,
                    "created": 1512872643,
                    "current_period_end": 1515551043,
                    "current_period_start": 1512872643,
                    "customer": "cus_BvAp92ZKNHvawd",
                    "discount": null,
                    "ended_at": null,
                    "items": {
                      "object": "list",
                      "data": [
                        {
                          "id": "si_BvApsKVPgMf0hh",
                          "object": "subscription_item",
                          "created": 1512872643,
                          "metadata": {},
                          "plan": {
                            "id": "drumknott",
                            "object": "plan",
                            "amount": 300,
                            "created": 1512872635,
                            "currency": "usd",
                            "interval": "month",
                            "interval_count": 1,
                            "livemode": false,
                            "metadata": {},
                            "name": "Drumknott Test",
                            "statement_descriptor": null,
                            "trial_period_days": null
                          },
                          "quantity": 1
                        }
                      ],
                      "has_more": false,
                      "total_count": 1,
                      "url": "/v1/subscription_items?subscription=sub_BvAp7U34lXfKrs"
                    },
                    "livemode": false,
                    "metadata": {},
                    "plan": {
                      "id": "drumknott",
                      "object": "plan",
                      "amount": 300,
                      "created": 1512872635,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Drumknott Test",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "quantity": 1,
                    "start": 1512872643,
                    "status": "active",
                    "tax_percent": null,
                    "trial_end": null,
                    "trial_start": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_BvAp92ZKNHvawd/subscriptions"
              }
            }
          ],
          "has_more": false,
          "url": "/v1/customers"
        }
  recorded_at: Sun, 10 Dec 2017 02:24:08 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_BvAp92ZKNHvawd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "cus_BvAp92ZKNHvawd"
        }
  recorded_at: Sun, 10 Dec 2017 02:24:09 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/coupons"
        }
  recorded_at: Sun, 10 Dec 2017 02:24:11 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "drumknott",
              "object": "plan",
              "amount": 300,
              "created": 1512872635,
              "currency": "usd",
              "interval": "month",
              "interval_count": 1,
              "livemode": false,
              "metadata": {},
              "name": "Drumknott Test",
              "statement_descriptor": null,
              "trial_period_days": null
            }
          ],
          "has_more": false,
          "url": "/v1/plans"
        }
  recorded_at: Sun, 10 Dec 2017 02:24:12 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/plans/drumknott
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "drumknott"
        }
  recorded_at: Sun, 10 Dec 2017 02:24:13 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=1&card[exp_year]=2019&card[cvc]=123
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_BvApkhcgdTD5bp",
          "object": "token",
          "card": {
            "id": "card_BvApHIrOHk3xwe",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 1,
            "exp_year": 2019,
            "fingerprint": "DCZbB0jNI6O56OrA",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "58.7.133.233",
          "created": 1512872656,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sun, 10 Dec 2017 02:24:16 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_BvAp7wJO9PiMpo
    body:
      encoding: UTF-8
      string: source=tok_BvApkhcgdTD5bp
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
 [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_BvAp7wJO9PiMpo/subscriptions
    body:
      encoding: UTF-8
      string: plan=drumknott
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_BvAp7wJO9PiMpo/subscriptions/sub_BvAqWsEZGHBLwf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encod[...]
