---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "cus_Phg4BHwj8Ypac0",
              "object": "customer",
              "address": null,
              "balance": 0,
              "created": 1709955396,
              "currency": null,
              "default_source": "card_0OsGi8kKe4kFpYbdhPXXyTgM",
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": "search0001@drumknottsearch.com",
              "invoice_prefix": "47EE8B23",
              "invoice_settings": {
                "custom_fields": null,
                "default_payment_method": null,
                "footer": null,
                "rendering_options": null
              },
              "livemode": false,
              "metadata": {},
              "name": null,
              "next_invoice_sequence": 1,
              "phone": null,
              "preferred_locales": [],
              "shipping": null,
              "tax_exempt": "none",
              "test_clock": null
            }
          ],
          "has_more": false,
          "url": "/v1/customers"
        }
  recorded_at: Sat, 09 Mar 2024 03:36:39 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_Phg4BHwj8Ypac0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Phg4BHwj8Ypac0",
          "object": "customer",
          "deleted": true
        }
  recorded_at: Sat, 09 Mar 2024 03:36:39 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/coupons"
        }
  recorded_at: Sat, 09 Mar 2024 03:36:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4000000000000002&card[exp_month]=1&card[exp_year]=2026&card[cvc]=123
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f3c7d311-758f-4082-9ee8-0e215a70eb43
      Original-Request:
      - req_iWuLPC7rdDuBo8
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_0OsGiBkKe4kFpYbdVEgXdkuq",
          "object": "token",
          "card": {
            "id": "card_0OsGiBkKe4kFpYbd1z3UTHEI",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 1,
            "exp_year": 2026,
            "fingerprint": "dqNY96CrdFhh5RG5",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "networks": {
              "preferred": null
            },
            "tokenization_method": null,
            "wallet": null
          },
          "client_ip": "180.150.37.147",
          "created": 1709955399,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sat, 09 Mar 2024 03:36:40 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_Phg4775fcWoChx
    body:
      encoding: UTF-8
      string: source=tok_0OsGiBkKe4kFpYbdVEgXdkuq
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 55045859-6e81-4a4a-9a3c-10b1656ca4bd
      Original-Request:
      - req_AAI3YnSJqbyID0
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "param": "",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_AAI3YnSJqbyID0?t=1709955400",
            "type": "card_error"
          }
        }
  recorded_at: Sat, 09 Mar 2024 03:36:41 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions?customer=cus_Phg4775fcWoChx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/subscriptions"
        }
  recorded_at: Sat, 09 Mar 2024 03:36:41 GMT
recorded_with: VCR 6.2.0
