%blockquote
  %p Drumknott is an excellent clerk, and cannot abide such malpractices as deliberate misfiling.
  %cite= link_to 'Rufus Drumknott, from L-Space', 'http://wiki.lspace.org/mediawiki/Rufus_Drumknott'

%p Drumknott provides hosted searching for your static Jekyll sites.
