%blockquote
  %p Drumknott is an excellent clerk, and cannot abide such malpractices as deliberate misfiling.
  %cite= link_to 'Rufus Drumknott, from L-Space', 'http://wiki.lspace.org/mediawiki/Rufus_Drumknott'

%p
  ! Drumknott provides hosted searching for your static Jekyll sites. All you need to do is connect things up via Javascript, and upload your page data to Drumknott's API. The #{ link_to 'documentation', documentation_path } covers both steps in detail.

%p Each site costs $3 USD per month (which is GST-inclusive for Australian customers). If you'd like to see it in action before you pay anything, kick the tires on my blog's <a href="http://freelancing-gods.com/search.html">search page</a>.

%p
  ! If you'd like to set up your Jekyll site to use Drumknott, #{ link_to 'create an account!', new_user_registration_path } &mdash; or #{ link_to 'sign in', new_user_session_path } if you already have an account.
