%h2 Privacy Statement

%h3 Section 1 - What do we do with your information?

%p When you sign up for an account on this site, we collect your email address and billing country. Any credit card details provided for subscriptions are stored by our payment provider, Stripe. Only summary details (the last four digits and the expiry date) are stored by this site. When you upload your content, this site stores those details privately.

%p None of this information is shared in an individual manner with any third-parties unless required by us to provide the essential service of the site, or when required by law. The only information that may be shared publicly will be aggregated information with no personal details.

%p When you browse the site, we automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.

%p We may send you emails about this site and your account. Anything that is not essential and specific to your account (for example: invoices) will have an opt-out link to stop further such communication.

%h3 Section 2 - Consent

%h4 How do you get my consent?

%p When you provide us with personal information to complete a transaction, verify your credit card, place an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting it and using it for that specific reason only.

%p If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.

%h4 How do I withdraw my consent?

%p If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at #{ link_to 'hello@drumknottsearch.com', 'mailto:hello@drumknottsearch.com' } or mailing us at: Pat Allan 802/115 Swanston St, Melbourne, VIC, 3000, Australia. You can also close your account on the site dashboard.

%h3 Section 3 - Disclosure

%p We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.

%h3 Section 4 - Third-Party Services

%p In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us.

%p However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions.

%p For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.

%p In particular, remember that certain providers may be located in or have facilities that are located a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.

%p As an example, if you are located in Canada and your transaction is processed by a payment gateway located in the United States, then your personal information used in completing that transaction may be subject to disclosure under United States legislation, including the Patriot Act.

%p Once you leave our store’s website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website’s Terms of Service.

%h4 Links

%p When you click on links on our site, they may direct you away from our site. We are not responsible for the privacy practices of other sites and encourage you to read their privacy statements.

%h3 Section 5 - Security

%p To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.

%p Although no method of transmission over the Internet or electronic storage is 100% secure, all of your interactions with this site will be encrypted using secure socket layer technology (SSL).

%h4 Cookies

%p This site uses cookies to track that you've been authenticated and can view your details.

%h3 Section 6 - Age of Consent

%p By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.

%h3 Section 7 - Changes to this Privacy Policy

%p We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.

%p If our Site is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to sell products to you.

%h3 Questions and Contact Information

%p If you would like to: access, correct, amend or delete any personal information we have about you, register a complaint, or simply want more information contact us at #{ link_to 'hello@drumknottsearch.com', 'mailto:hello@drumknottsearch.com' }.
