---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "cus_7jCFXxdZwpAgF5",
              "object": "customer",
              "account_balance": 0,
              "created": 1452911526,
              "currency": "usd",
              "default_source": "card_17TjxJKmEW6wqTn5DYypdjyr",
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": "search0001@drumknottsearch.com",
              "livemode": false,
              "metadata": {},
              "shipping": null,
              "sources": {
                "object": "list",
                "data": [
                  {
                    "id": "card_17TjxJKmEW6wqTn5DYypdjyr",
                    "object": "card",
                    "address_city": null,
                    "address_country": null,
                    "address_line1": null,
                    "address_line1_check": null,
                    "address_line2": null,
                    "address_state": null,
                    "address_zip": null,
                    "address_zip_check": null,
                    "brand": "MasterCard",
                    "country": "US",
                    "customer": "cus_7jCFXxdZwpAgF5",
                    "cvc_check": "pass",
                    "dynamic_last4": null,
                    "exp_month": 1,
                    "exp_year": 2018,
                    "fingerprint": "D5AsExiNz5tTyhrP",
                    "funding": "credit",
                    "last4": "4444",
                    "metadata": {},
                    "name": null,
                    "tokenization_method": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_7jCFXxdZwpAgF5/sources"
              },
              "subscriptions": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_7jCF1kng0JoGsR",
                    "object": "subscription",
                    "application_fee_percent": null,
                    "cancel_at_period_end": false,
                    "canceled_at": null,
                    "current_period_end": 1455589932,
                    "current_period_start": 1452911532,
                    "customer": "cus_7jCFXxdZwpAgF5",
                    "discount": null,
                    "ended_at": null,
                    "metadata": {},
                    "plan": {
                      "id": "drumknott",
                      "object": "plan",
                      "amount": 300,
                      "created": 1452911525,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Drumknott Test",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "quantity": 1,
                    "start": 1452911531,
                    "status": "active",
                    "tax_percent": null,
                    "trial_end": 1452911532,
                    "trial_start": 1452911531
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_7jCFXxdZwpAgF5/subscriptions"
              }
            }
          ],
          "has_more": false,
          "url": "/v1/customers"
        }
  recorded_at: Sat, 16 Jan 2016 04:25:14 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_7jCFXxdZwpAgF5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "cus_7jCFXxdZwpAgF5"
        }
  recorded_at: Sat, 16 Jan 2016 04:25:15 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/coupons"
        }
  recorded_at: Sat, 16 Jan 2016 04:25:16 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "drumknott",
              "object": "plan",
              "amount": 300,
              "created": 1452911525,
              "currency": "usd",
              "interval": "month",
              "interval_count": 1,
              "livemode": false,
              "metadata": {},
              "name": "Drumknott Test",
              "statement_descriptor": null,
              "trial_period_days": null
            }
          ],
          "has_more": false,
          "url": "/v1/plans"
        }
  recorded_at: Sat, 16 Jan 2016 04:25:17 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/plans/drumknott
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "drumknott"
        }
  recorded_at: Sat, 16 Jan 2016 04:25:18 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=123&card[exp_month]=1&card[exp_year]=2018&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17TlctKmEW6wqTn5YeqkvMTM",
          "object": "token",
          "card": {
            "id": "card_17TlctKmEW6wqTn5f9Y3CaIM",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 1,
            "exp_year": 2018,
            "fingerprint": "fJA9T7VsmVzC26CG",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "118.209.178.50",
          "created": 1452918323,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sat, 16 Jan 2016 04:25:23 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7jE51K0TaV2b9Z/sources
    body:
      encoding: US-ASCII
      string: source=tok_17TlctKmEW6wqTn5YeqkvMTM
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_17TlctKmEW6wqTn5f9Y3CaIM",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_7jE51K0TaV2b9Z",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 1,
          "exp_year": 2018,
          "fingerprint": "fJA9T7VsmVzC26CG",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Sat, 16 Jan 2016 04:25:24 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7jE51K0TaV2b9Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
      [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7jE51K0TaV2b9Z/subscriptions
    body:
      encoding: US-ASCII
      string: plan=drumknott
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: U[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7jE51K0TaV2b9Z/subscriptions/sub_7jE5S0Ju5UyKD7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encod[...]
[...]
