%p Hi there,

%p Your subscription payment for site <strong>#{@site.name}</strong> on Drumknott has been collected, and your invoice is attached. Thank you.

%p= link_to 'View site details', my_site_url(@site)

%p If you have any questions or feedback, just hit reply and get in touch.

%p Kind regards,

%p
  Pat Allan
  %br/
  Drumknott
