---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-12-14'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "cus_NAIMcOldMxZcsI",
              "object": "customer",
              "account_balance": 0,
              "address": null,
              "balance": 0,
              "created": 1673656739,
              "currency": null,
              "default_currency": null,
              "default_source": "card_0MPxlvkKe4kFpYbdso3PG3pr",
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": "search0002@drumknottsearch.com",
              "invoice_prefix": "21BBB5CB",
              "invoice_settings": {
                "custom_fields": null,
                "default_payment_method": null,
                "footer": null,
                "rendering_options": null
              },
              "livemode": false,
              "metadata": {},
              "name": null,
              "next_invoice_sequence": 1,
              "phone": null,
              "preferred_locales": [],
              "shipping": null,
              "sources": {
                "object": "list",
                "data": [
                  {
                    "id": "card_0MPxlvkKe4kFpYbdso3PG3pr",
                    "object": "card",
                    "address_city": null,
                    "address_country": null,
                    "address_line1": null,
                    "address_line1_check": null,
                    "address_line2": null,
                    "address_state": null,
                    "address_zip": null,
                    "address_zip_check": null,
                    "brand": "Visa",
                    "country": "US",
                    "customer": "cus_NAIMcOldMxZcsI",
                    "cvc_check": "pass",
                    "dynamic_last4": null,
                    "exp_month": 1,
                    "exp_year": 2025,
                    "fingerprint": "DCZbB0jNI6O56OrA",
                    "funding": "credit",
                    "last4": "4242",
                    "metadata": {},
                    "name": null,
                    "tokenization_method": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_NAIMcOldMxZcsI/sources"
              },
              "subscriptions": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/customers/cus_NAIMcOldMxZcsI/subscriptions"
              },
              "tax_exempt": "none",
              "tax_ids": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/customers/cus_NAIMcOldMxZcsI/tax_ids"
              },
              "tax_info": null,
              "tax_info_verification": null,
              "test_clock": null
            }
          ],
          "has_more": false,
          "url": "/v1/customers"
        }
  recorded_at: Sat, 14 Jan 2023 00:50:23 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_NAIMcOldMxZcsI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-12-14'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_NAIMcOldMxZcsI",
          "object": "customer",
          "deleted": true
        }
  recorded_at: Sat, 14 Jan 2023 00:50:24 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-12-14'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/coupons"
        }
  recorded_at: Sat, 14 Jan 2023 00:50:24 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=search0001%40drumknottsearch.com
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d9cd2ffa-086d-4b4a-bcf0-b4f7f79a82dc
      Original-Request:
      - req_jkMBiSvGq7h1P9
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2017-12-14'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_NAIYmKMjYY5CCz",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "balance": 0,
          "created": 1673657424,
          "currency": null,
          "default_currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
       [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=1&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0a6d00b0-256e-4e72-89d9-6c9c0f6a513f
      Original-Request:
      - req_3oQjurcv86a4YY
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2017-12-14'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_0MPxwzkKe4kFpYbd3Fjh8gXA",
          "object": "token",
          "card": {
            "id": "card_0MPxwykKe4kFpYbdZufANfWQ",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 1,
            "exp_year": 2025,
            "fingerprint": "DCZbB0jNI6O56OrA",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "180.150.36.155",
          "created": 1673657425,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sat, 14 Jan 2023 00:50:25 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_NAIYmKMjYY5CCz/sources
    body:
      encoding: UTF-8
      string: source=tok_0MPxwzkKe4kFpYbd3Fjh8gXA
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a47bbabe-06da-49db-8caa-e7d[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_NAIYmKMjYY5CCz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-12-14'
    body:
      encoding: UTF-8
      string: |-
     [...]
[...]
