---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "cus_7iAoLx4eGJbvWr",
              "object": "customer",
              "account_balance": 0,
              "created": 1452675553,
              "currency": "usd",
              "default_source": "card_17SkTGKmEW6wqTn5qXWmVbaN",
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": "search0001@drumknottsearch.com",
              "livemode": false,
              "metadata": {},
              "shipping": null,
              "sources": {
                "object": "list",
                "data": [
                  {
                    "id": "card_17SkTGKmEW6wqTn5qXWmVbaN",
                    "object": "card",
                    "address_city": null,
                    "address_country": null,
                    "address_line1": null,
                    "address_line1_check": null,
                    "address_line2": null,
                    "address_state": null,
                    "address_zip": null,
                    "address_zip_check": null,
                    "brand": "Visa",
                    "country": "US",
                    "customer": "cus_7iAoLx4eGJbvWr",
                    "cvc_check": "pass",
                    "dynamic_last4": null,
                    "exp_month": 1,
                    "exp_year": 2018,
                    "fingerprint": "hVL7TXrWX40QyAKg",
                    "funding": "credit",
                    "last4": "0341",
                    "metadata": {},
                    "name": null,
                    "tokenization_method": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_7iAoLx4eGJbvWr/sources"
              },
              "subscriptions": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_7iAo2Hj2tX3o44",
                    "object": "subscription",
                    "application_fee_percent": null,
                    "cancel_at_period_end": false,
                    "canceled_at": null,
                    "current_period_end": 1455353959,
                    "current_period_start": 1452675559,
                    "customer": "cus_7iAoLx4eGJbvWr",
                    "discount": null,
                    "ended_at": null,
                    "metadata": {},
                    "plan": {
                      "id": "drumknott",
                      "object": "plan",
                      "amount": 300,
                      "created": 1452675552,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Drumknott Test",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "quantity": 1,
                    "start": 1452675557,
                    "status": "active",
                    "tax_percent": null,
                    "trial_end": 1452675559,
                    "trial_start": 1452675557
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_7iAoLx4eGJbvWr/subscriptions"
              }
            }
          ],
          "has_more": false,
          "url": "/v1/customers"
        }
  recorded_at: Wed, 13 Jan 2016 09:10:35 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_7iAoLx4eGJbvWr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "cus_7iAoLx4eGJbvWr"
        }
  recorded_at: Wed, 13 Jan 2016 09:10:36 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/coupons"
        }
  recorded_at: Wed, 13 Jan 2016 09:10:37 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "drumknott",
              "object": "plan",
              "amount": 300,
              "created": 1452675552,
              "currency": "usd",
              "interval": "month",
              "interval_count": 1,
              "livemode": false,
              "metadata": {},
              "name": "Drumknott Test",
              "statement_descriptor": null,
              "trial_period_days": null
            }
          ],
          "has_more": false,
          "url": "/v1/plans"
        }
  recorded_at: Wed, 13 Jan 2016 09:10:37 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/plans/drumknott
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "drumknott"
        }
  recorded_at: Wed, 13 Jan 2016 09:10:38 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=123&card[exp_month]=1&card[exp_year]=2018&card[number]=4000000000000341
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17SkeLKmEW6wqTn5ATXPqWo5",
          "object": "token",
          "card": {
            "id": "card_17SkeLKmEW6wqTn5tCmWs8yl",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 1,
            "exp_year": 2018,
            "fingerprint": "hVL7TXrWX40QyAKg",
            "funding": "credit",
            "last4": "0341",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "27.32.211.74",
          "created": 1452676241,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 13 Jan 2016 09:10:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7iB0ASILIhIpbJ/sources
    body:
      encoding: US-ASCII
      string: source=tok_17SkeLKmEW6wqTn5ATXPqWo5
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_17SkeLKmEW6wqTn5tCmWs8yl",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_7iB0ASILIhIpbJ",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 1,
          "exp_year": 2018,
          "fingerprint": "hVL7TXrWX40QyAKg",
          "funding": "credit",
          "last4": "0341",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Wed, 13 Jan 2016 09:10:42 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7iB0ASILIhIpbJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
      [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7iB0ASILIhIpbJ/subscriptions
    body:
      encoding: US-ASCII
      string: plan=drumknott&trial_end=1452676245
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    bo[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_7iB0ASILIhIpbJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "in_17SkisKmEW6wqTn5HKb0PFMC",
              "object": "invoice",
              "amount_due": 300,
              "application_fee": null,
              "attempt_count": 0,
              "attempted": false,
              "charge": null,
              "closed": false,
              "currency": "usd",
              "customer": "cus_7iB0ASILIhIpbJ",
              "date": 1452676522,
              "description": null,
              "discount": null,
              "ending_balance": null,
              "forgiven": false,
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_7iB0j5VtLGNNyV",
                    "object": "line_item",
                    "amount": 300,
                    "currency": "usd",
                    "description": null,
                    "discountable": true,
                    "livemode": false,
                    "metadata": {},
                    "period": {
                      "start": 1452676245,
                      "end": 1455354645
                    },
                    "plan": {
                      "id": "drumknott",
                      "object": "plan",
                      "amount": 300,
                      "created": 1452676239,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Drumknott Test",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "proration": false,
                    "quantity": 1,
                    "subscription": null,
                    "type": "subscription"
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/invoices/in_17SkisKmEW6wqTn5HKb0PFMC/lines"
              },
              "livemode": false,
              "metadata": {},
              "next_payment_attempt": 1452680122,
              "paid": false,
              "period_end": 1452676245,
              "period_start": 1452676243,
              "receipt_number": null,
              "starting_balance": 0,
              "statement_descriptor": null,
              "subscription": "sub_7iB0j5VtLGNNyV",
              "subtotal": 300,
              "tax": null,
              "tax_percent": null,
              "total": 300,
              "webhooks_delivered_at": 1452676522
            },
            {
              "id": "in_17SkeNKmEW6wqTn5m1Vd55M8",
              "object": "invoice",
              "amount_due": 0,
              "application_fee": null,
              "attempt_count": 0,
              "attempted": true,
              "charge": null,
              "closed": true,
              "currency": "usd",
              "customer": "cus_7iB0ASILIhIpbJ",
              "date": 1452676243,
              "description": null,
              "discount": [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_17SkisKmEW6wqTn5HKb0PFMC/pay
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "Your card was declined.",
            "code": "card_declined"
          }
        }
  recorded_at: Wed, 13 Jan 2016 09:16:48 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "evt_17SkkGKmEW6wqTn5bY0lAd3u",
              "object": "event",
              "api_version": "2015-10-16",
              "created": 1452676608,
              "data": {
                "object": {
                  "id": "in_17SkisKmEW6wqTn5HKb0PFMC",
                  "object": "invoice",
                  "amount_due": 300,
                  "application_fee": null,
                  "attempt_count": 1,
                  "attempted": true,
                  "charge": "ch_17SkkGKmEW6wqTn5GcQZeNPf",
                  "closed": false,
                  "currency": "usd",
                [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_17SkkGKmEW6wqTn58tOMM1H0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |[...]
