---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "cus_BvAZyoavdoHiNx",
              "object": "customer",
              "account_balance": 0,
              "created": 1512871655,
              "currency": "usd",
              "default_source": "card_BvAZLuaYuoTEmn",
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": "search0005@drumknottsearch.com",
              "livemode": false,
              "metadata": {},
              "shipping": null,
              "sources": {
                "object": "list",
                "data": [
                  {
                    "id": "card_BvAZLuaYuoTEmn",
                    "object": "card",
                    "address_city": null,
                    "address_country": null,
                    "address_line1": null,
                    "address_line1_check": null,
                    "address_line2": null,
                    "address_state": null,
                    "address_zip": null,
                    "address_zip_check": null,
                    "brand": "Visa",
                    "country": "US",
                    "customer": "cus_BvAZyoavdoHiNx",
                    "cvc_check": "pass",
                    "dynamic_last4": null,
                    "exp_month": 1,
                    "exp_year": 2019,
                    "fingerprint": "DCZbB0jNI6O56OrA",
                    "funding": "credit",
                    "last4": "4242",
                    "metadata": {},
                    "name": null,
                    "tokenization_method": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_BvAZyoavdoHiNx/sources"
              },
              "subscriptions": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_BvAZBclOo0Ch0f",
                    "object": "subscription",
                    "application_fee_percent": null,
                    "billing": "charge_automatically",
                    "cancel_at_period_end": false,
                    "canceled_at": null,
                    "created": 1512871662,
                    "current_period_end": 1515550062,
                    "current_period_start": 1512871662,
                    "customer": "cus_BvAZyoavdoHiNx",
                    "discount": null,
                    "ended_at": null,
                    "items": {
                      "object": "list",
                      "data": [
                        {
                          "id": "si_BvAZJ1Uj6R5cAm",
                          "object": "subscription_item",
                          "created": 1512871662,
                          "metadata": {},
                          "plan": {
                            "id": "drumknott",
                            "object": "plan",
                            "amount": 300,
                            "created": 1512871654,
                            "currency": "usd",
                            "interval": "month",
                            "interval_count": 1,
                            "livemode": false,
                            "metadata": {},
                            "name": "Drumknott Test",
                            "statement_descriptor": null,
                            "trial_period_days": null
                          },
                          "quantity": 1
                        }
                      ],
                      "has_more": false,
                      "total_count": 1,
                      "url": "/v1/subscription_items?subscription=sub_BvAZBclOo0Ch0f"
                    },
                    "livemode": false,
                    "metadata": {},
                    "plan": {
                      "id": "drumknott",
                      "object": "plan",
                      "amount": 300,
                      "created": 1512871654,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Drumknott Test",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "quantity": 1,
                    "start": 1512871662,
                    "status": "active",
                    "tax_percent": null,
                    "trial_end": null,
                    "trial_start": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_BvAZyoavdoHiNx/subscriptions"
              }
            }
          ],
          "has_more": false,
          "url": "/v1/customers"
        }
  recorded_at: Sun, 10 Dec 2017 02:07:51 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_BvAZyoavdoHiNx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "cus_BvAZyoavdoHiNx"
        }
  recorded_at: Sun, 10 Dec 2017 02:07:53 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/coupons"
        }
  recorded_at: Sun, 10 Dec 2017 02:07:54 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "drumknott",
              "object": "plan",
              "amount": 300,
              "created": 1512871654,
              "currency": "usd",
              "interval": "month",
              "interval_count": 1,
              "livemode": false,
              "metadata": {},
              "name": "Drumknott Test",
              "statement_descriptor": null,
              "trial_period_days": null
            }
          ],
          "has_more": false,
          "url": "/v1/plans"
        }
  recorded_at: Sun, 10 Dec 2017 02:07:55 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/plans/drumknott
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "drumknott"
        }
  recorded_at: Sun, 10 Dec 2017 02:07:56 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4000000000000341&card[exp_month]=1&card[exp_year]=2019&card[cvc]=123
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_BvAZr20hjTDylB",
          "object": "token",
          "card": {
            "id": "card_BvAZBnSn7lMVBk",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 1,
            "exp_year": 2019,
            "fingerprint": "22Vkbw4tr8xDhC2Q",
            "funding": "credit",
            "last4": "0341",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "58.7.133.233",
          "created": 1512871681,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sun, 10 Dec 2017 02:08:01 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_BvAZjzJlsjDpnv/sources
    body:
      encoding: UTF-8
      string: source=tok_BvAZr20hjTDylB
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_BvAZBnSn7lMVBk",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_BvAZjzJlsjDpnv",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 1,
          "exp_year": 2019,
          "fingerprint": "22Vkbw4tr8xDhC2Q",
          "funding": "credit",
          "last4": "0341",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Sun, 10 Dec 2017 02:08:03 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_BvAZjzJlsjDpnv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
      [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_BvAZjzJlsjDpnv/subscriptions
    body:
      encoding: UTF-8
      string: plan=drumknott&trial_end=1512871692
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_BvAZjzJlsjDpnv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "in_BvAbyQZ4CRRNVR",
              "object": "invoice",
              "amount_due": 300,
              "application_fee": null,
              "attempt_count": 0,
              "attempted": false,
              "billing": "charge_automatically",
              "charge": null,
              "closed": false,
              "currency": "usd",
              "customer": "cus_BvAZjzJlsjDpnv",
              "date": 1512871815,
              "description": null,
              "discount": null,
              "ending_balance": null,
              "forgiven": false,
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_BvAZ7FeXDXY9JJ",
                    "object": "line_item",
                    "amount": 300,
                    "currency": "usd",
                    "description": null,
                    "discountable": true,
                    "livemode": false,
                    "metadata": {},
                    "period": {
                      "start": 1512871692,
                      "end": 1515550092
                    },
                    "plan": {
                      "id": "drumknott",
                      "object": "plan",
                      "amount": 300,
                      "created": 1512871678,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Drumknott Test",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "proration": false,
                    "quantity": 1,
                    "subscription": null,
                    "subscription_item": "si_BvAZvuqGwC2rO7",
                    "type": "subscription"
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/invoices/in_BvAbyQZ4CRRNVR/lines"
              },
              "livemode": false,
              "metadata": {},
              "next_payment_attempt": 1512875415,
              "number": "d729d80405-0002",
              "paid": false,
              "period_end": 1512871692,
              "period_start": 1512871686,
              "receipt_number": null,
              "starting_balance": 0,
              "statement_descriptor": null,
              "subscription": "sub_BvAZ7FeXDXY9JJ",
              "subtotal": 300,
              "tax": null,
              "tax_percent": null,
              "total": 300,
              "webhooks_delivered_at": 1512871815
            },
            {
              "id": "in_BvAZ10TlUjdVK1",
              "object": "invoice",
              "amount_due": 0,
              "application_fee": null,
              "attempt_count": 0,
              "attempted": true,
              "billing": "charge_automatically",
              "charge": null,
              "closed": true,
              "currency": "usd",
              "customer": "cus_BvAZjzJlsjDpnv",
              "date": 1512871686,
              "descrip[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_BvAbyQZ4CRRNVR/pay
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "Your card was declined.",
            "code": "card_declined"
          }
        }
  recorded_at: Sun, 10 Dec 2017 02:14:12 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "evt_BvAfyRGIbU8gIP",
              "object": "event",
              "api_version": "2017-08-15",
              "created": 1512872052,
              "data": {
                "object": {
                  "id": "in_BvAbyQZ4CRRNVR",
                  "object": "invoice",
                  "amount_due": 300,
                  "application_fee": null,
                  "attempt_count": 1,
                  "attempted": true,
                  "billing": "charge_automatically",
                  "charge": "ch_BvAfY8jiKYuFv9",
                  "closed": false,
                  "c[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_BvAfNkex71PPlB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {[...]
