---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "cus_7u9xkxWUqRiv1o",
              "object": "customer",
              "account_balance": 0,
              "created": 1455440017,
              "currency": "usd",
              "default_source": "card_17eLdOKmEW6wqTn5Ai8nlSQF",
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": "search0003@drumknottsearch.com",
              "livemode": false,
              "metadata": {},
              "shipping": null,
              "sources": {
                "object": "list",
                "data": [
                  {
                    "id": "card_17eLdOKmEW6wqTn5Ai8nlSQF",
                    "object": "card",
                    "address_city": null,
                    "address_country": null,
                    "address_line1": null,
                    "address_line1_check": null,
                    "address_line2": null,
                    "address_state": null,
                    "address_zip": null,
                    "address_zip_check": null,
                    "brand": "Visa",
                    "country": "US",
                    "customer": "cus_7u9xkxWUqRiv1o",
                    "cvc_check": "pass",
                    "dynamic_last4": null,
                    "exp_month": 1,
                    "exp_year": 2018,
                    "fingerprint": "fJA9T7VsmVzC26CG",
                    "funding": "credit",
                    "last4": "4242",
                    "metadata": {},
                    "name": null,
                    "tokenization_method": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_7u9xkxWUqRiv1o/sources"
              },
              "subscriptions": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_7u9x07lJl9XKwr",
                    "object": "subscription",
                    "application_fee_percent": null,
                    "cancel_at_period_end": false,
                    "canceled_at": null,
                    "current_period_end": 1457945623,
                    "current_period_start": 1455440023,
                    "customer": "cus_7u9xkxWUqRiv1o",
                    "discount": null,
                    "ended_at": null,
                    "metadata": {},
                    "plan": {
                      "id": "drumknott",
                      "object": "plan",
                      "amount": 300,
                      "created": 1455440015,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Drumknott Test",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "quantity": 1,
                    "start": 1455440023,
                    "status": "active",
                    "tax_percent": null,
                    "trial_end": null,
                    "trial_start": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_7u9xkxWUqRiv1o/subscriptions"
              }
            }
          ],
          "has_more": false,
          "url": "/v1/customers"
        }
  recorded_at: Sun, 14 Feb 2016 08:56:17 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_7u9xkxWUqRiv1o
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "cus_7u9xkxWUqRiv1o"
        }
  recorded_at: Sun, 14 Feb 2016 08:56:18 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/coupons"
        }
  recorded_at: Sun, 14 Feb 2016 08:56:19 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "drumknott",
              "object": "plan",
              "amount": 300,
              "created": 1455440015,
              "currency": "usd",
              "interval": "month",
              "interval_count": 1,
              "livemode": false,
              "metadata": {},
              "name": "Drumknott Test",
              "statement_descriptor": null,
              "trial_period_days": null
            }
          ],
          "has_more": false,
          "url": "/v1/plans"
        }
  recorded_at: Sun, 14 Feb 2016 08:56:21 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/plans/drumknott
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "drumknott"
        }
  recorded_at: Sun, 14 Feb 2016 08:56:22 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=123&card[exp_month]=1&card[exp_year]=2018&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17eLg7KmEW6wqTn5NIVN9g6h",
          "object": "token",
          "card": {
            "id": "card_17eLg7KmEW6wqTn5oL9r9vM5",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 1,
            "exp_year": 2018,
            "fingerprint": "fJA9T7VsmVzC26CG",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "118.209.178.50",
          "created": 1455440187,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sun, 14 Feb 2016 08:56:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7uA0Fk1cuCbcCs/sources
    body:
      encoding: US-ASCII
      string: source=tok_17eLg7KmEW6wqTn5NIVN9g6h
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_17eLg7KmEW6wqTn5oL9r9vM5",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_7uA0Fk1cuCbcCs",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 1,
          "exp_year": 2018,
          "fingerprint": "fJA9T7VsmVzC26CG",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Sun, 14 Feb 2016 08:56:28 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7uA0Fk1cuCbcCs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
      [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7uA0Fk1cuCbcCs/subscriptions
    body:
      encoding: US-ASCII
      string: plan=drumknott
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: U[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_7uA0Fk1cuCbcCs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "in_17eLgBKmEW6wqTn5jV0GfsnH",
              "object": "invoice",
              "amount_due": 300,
              "application_fee": null,
              "attempt_count": 1,
              "attempted": true,
              "charge": "ch_17eLgBKmEW6wqTn5Tg2qDsmn",
              "closed": true,
              "currency": "usd",
              "customer": "cus_7uA0Fk1cuCbcCs",
              "date": 1455440191,
              "description": null,
              "discount": null,
              "ending_balance": 0,
              "forgiven": false,
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_7uA0eAZbnSpjAJ",
                    "object": "line_item",
                    "amount": 300,
                    "currency": "usd",
                    "description": null,
                    "discountable": true,
                    "livemode": false,
                    "metadata": {},
                    "period": {
                      "start": 1455440191,
                      "end": 1457945791
                    },
                    "plan": {
                      "id": "drumknott",
                      "object": "plan",
                      "amount": 300,
                      "created": 1455440184,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Drumknott Test",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "proration": false,
                    "quantity": 1,
                    "subscription": null,
                    "type": "subscription"
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/invoices/in_17eLgBKmEW6wqTn5jV0GfsnH/lines"
              },
              "livemode": false,
              "metadata": {},
              "next_payment_attempt": null,
              "paid": true,
              "period_end": 1455440191,
              "period_start": 1455440191,
              "receipt_number": null,
              "starting_balance": 0,
              "statement_descriptor": null,
              "subscription": "sub_7uA0eAZbnSpjAJ",
              "subtotal": 300,
              "tax": null,
              "tax_percent": null,
              "total": 300,
              "webhooks_delivered_at": 1455440192
            }
          ],
          "has_more": false,
          "url": "/v1/invoices"
        }
  recorded_at: Sun, 14 Feb 2016 08:56:34 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "evt_17eLgCKmEW6wqTn5QbDRoNwG",
              "object": "event",
              "api_version": "2015-10-16",
              "created": 1455440192,
              "data": {
                "object": {
                  "id": "sub_7uA0eAZbnSpjAJ",
                  "object": "subscription",
                  "application_fee_percent": null,
                  "cancel_at_period_end": false,
                  "canceled_at": null,
                  "current_period_end": 1457945791,
                  "current_period_start": 1455440191,
                  "customer": "cus_7uA0Fk1cuCbcCs",
                  "discount": null,
                  "ended_at": null,
                  "metadata": {},
                  "plan": {
                    "id": "drumknott",
                    "object": "plan",
                    "amount": 300,
                    "created": 1455440184,
                    "currency": "usd",
                    "interval": "month",
                    "interval_count": 1,
                    "livemode": false,
                    "metadata": {},
                    "name": "Drumknott Test",
                    "statement_descriptor": null,
                    "trial_period_days": null
                  },
                  "quantity": 1,
                  "start": 1455440191,
                  "status": "active",
                  "tax_percent": null,
                  "trial_end": null,
                  "trial_start": null
                }
              },
              "livemode": false,
              "pending_webhooks": 0,
              "request": "req_7uA02gDd2ROON6",
              "type": "customer.subscription.created"
            },
            {
              "id": "evt_17eLgCKmEW6wqTn5vnpiiXWb",
              "object": "event",
              "api_version": "2015-10-16",
              "created": 1455440192,
              "data": {
                "object": {
                  "id": "in_17eLgBKmEW6wqTn5jV0GfsnH",
                  "object": "invoice",
                  "amount_due": 300,
                  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_17eLgCKmEW6wqTn5t6Fs9oOv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_17eLgCKmEW6wqTn5vnpiiXWb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |[...]
[...]
