---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "cus_7uA0iDDuwM83M1",
              "object": "customer",
              "account_balance": 0,
              "created": 1455440212,
              "currency": "usd",
              "default_source": "card_17eLgXKmEW6wqTn5X9WCJkGd",
              "delinquent": true,
              "description": null,
              "discount": null,
              "email": "search0002@drumknottsearch.com",
              "livemode": false,
              "metadata": {},
              "shipping": null,
              "sources": {
                "object": "list",
                "data": [
                  {
                    "id": "card_17eLgXKmEW6wqTn5X9WCJkGd",
                    "object": "card",
                    "address_city": null,
                    "address_country": null,
                    "address_line1": null,
                    "address_line1_check": null,
                    "address_line2": null,
                    "address_state": null,
                    "address_zip": null,
                    "address_zip_check": null,
                    "brand": "Visa",
                    "country": "US",
                    "customer": "cus_7uA0iDDuwM83M1",
                    "cvc_check": "pass",
                    "dynamic_last4": null,
                    "exp_month": 1,
                    "exp_year": 2018,
                    "fingerprint": "hVL7TXrWX40QyAKg",
                    "funding": "credit",
                    "last4": "0341",
                    "metadata": {},
                    "name": null,
                    "tokenization_method": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_7uA0iDDuwM83M1/sources"
              },
              "subscriptions": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_7uA01xPB8ziHy7",
                    "object": "subscription",
                    "application_fee_percent": null,
                    "cancel_at_period_end": false,
                    "canceled_at": null,
                    "current_period_end": 1457945819,
                    "current_period_start": 1455440219,
                    "customer": "cus_7uA0iDDuwM83M1",
                    "discount": null,
                    "ended_at": null,
                    "metadata": {},
                    "plan": {
                      "id": "drumknott",
                      "object": "plan",
                      "amount": 300,
                      "created": 1455440211,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Drumknott Test",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "quantity": 1,
                    "start": 1455440218,
                    "status": "past_due",
                    "tax_percent": null,
                    "trial_end": 1455440219,
                    "trial_start": 1455440218
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_7uA0iDDuwM83M1/subscriptions"
              }
            }
          ],
          "has_more": false,
          "url": "/v1/customers"
        }
  recorded_at: Sun, 14 Feb 2016 09:03:09 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_7uA0iDDuwM83M1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "cus_7uA0iDDuwM83M1"
        }
  recorded_at: Sun, 14 Feb 2016 09:03:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/coupons"
        }
  recorded_at: Sun, 14 Feb 2016 09:03:12 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "drumknott",
              "object": "plan",
              "amount": 300,
              "created": 1455440211,
              "currency": "usd",
              "interval": "month",
              "interval_count": 1,
              "livemode": false,
              "metadata": {},
              "name": "Drumknott Test",
              "statement_descriptor": null,
              "trial_period_days": null
            }
          ],
          "has_more": false,
          "url": "/v1/plans"
        }
  recorded_at: Sun, 14 Feb 2016 09:03:13 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/plans/drumknott
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "drumknott"
        }
  recorded_at: Sun, 14 Feb 2016 09:03:14 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=123&card[exp_month]=1&card[exp_year]=2018&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17eLmkKmEW6wqTn5ty16M0jh",
          "object": "token",
          "card": {
            "id": "card_17eLmkKmEW6wqTn5m4L1HU44",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 1,
            "exp_year": 2018,
            "fingerprint": "fJA9T7VsmVzC26CG",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "118.209.178.50",
          "created": 1455440598,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sun, 14 Feb 2016 09:03:18 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7uA6Zi5hUgsOGq/sources
    body:
      encoding: US-ASCII
      string: source=tok_17eLmkKmEW6wqTn5ty16M0jh
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_17eLmkKmEW6wqTn5m4L1HU44",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_7uA6Zi5hUgsOGq",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 1,
          "exp_year": 2018,
          "fingerprint": "fJA9T7VsmVzC26CG",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Sun, 14 Feb 2016 09:03:20 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7uA6Zi5hUgsOGq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
      [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7uA6Zi5hUgsOGq/subscriptions
    body:
      encoding: US-ASCII
      string: plan=drumknott
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "evt_17eLmpKmEW6wqTn5Y2Zsthju",
              "object": "event",
              "api_version": "2015-10-16",
              "created": 1455440603,
              "data": {
                "object": {
                  "id": "sub_7uA7ONNTSvUKPt",
                  "object": "subscription",
                  "application_fee_percent": null,
                  "cancel_at_period_end": false,
                  "canceled_at": null,
                  "current_period_end": 1457946203,
                  "current_period_start": 1455440603,
                  "customer": "cus_7uA6Zi5hUgsOGq",
                  "discount": null,
                  "ended_at": null,
                  "metadata": {},
                  "plan": {
                    "id": "drumknott",
                    "object": "plan",
                    "amount": 300,
                    "created": 1455440595,
                    "currency": "usd",
                    "interval": "month",
                    "interval_count": 1,
                    "livemode": false,
                    "metadata": {},
                    "name": "Drumknott Test",
                    "statement_descriptor": null,
                    "trial_period_days": null
                  },
                  "quantity": 1,
                  "start": 1455440603,
                  "status": "active",
                  "tax_percent": null,
                  "trial_end": null,
                  "trial_start": null
                }
              },
              "livemode": false,
              "pending_webhooks": 0,
              "request": "req_7uA70zC9sgVZkZ",
              "type": "customer.subscription.created"
            },
            {
              "id": "evt_17eLmpKmEW6wqTn5IS68jeu7",
              "object": "event",
              "api_version": "2015-10-16",
              "created": 1455440603,
              "data": {
                "object": {
                  "id": "in_17eLmpKmEW6wqTn5tbrMKM2R",
                  "object": "invoice",
                  "amount_due": 300,
                  "application_fee": null,
                  "attempt_count": 1,
                  "attempted": true,
                  "charge": "ch_17eLmpKmEW6wqTn5maN3NXgZ",
                  "closed": true,
                  "currency": "usd",
                  "customer": "cus_7uA6Zi5hUgsOGq",
                  "date": 1455440603,
                  "description": null,
                  "discount": null,
                  "ending_balance": 0,
                  "forgiven": false,
                  "lines": {
                    "object": "list",
                    "data": [
                      {
                        "id": "sub_7uA7ONNTSvUKPt",
                        "object": "line_item",
                        "amount": 300,
                        "currency": "usd",
                        "description": null,
                        "discountable": true,
                        "livemode": false,
                        "metadata": {},
                        "period": {
                          "start": 1455440603,
                          "end": 1457946203
                        },
                        "plan": {
                          "id": "drumknott",
                          "object": "plan",
                          "amount": 300,
                          "created": 1455440595,
                          "currency": "usd",
                          "interval": "month",
                          "interval_count": 1,
                          "livemode": false,
                          "metadata": {},
                          "name": "Drumknott Test",
                          "statement_descriptor": null,
                          "trial_period_days": null
                        },
                        "proration": false,
                        "quantity": 1,
                        "subscription": null,
                        "type": "subscription"
                      }
                    ],
                    "has_more": false,
                    "total_count": 1,
                    "url": "/v1/invoices/in_17eLmpKmEW6wqTn5tbrMKM2R/lines"
                  },
                  "livemode": false,
                  "metadata": {},
                  "next_payment_attempt": null,
                  "paid": true,
                  "period_end": 1455440603,
                  "period_start": 1455440603,
                  "receipt_number": null,
                  "starting_balance": 0,
                  "statement_descriptor": null,
                  "subscription": "sub_7uA7ONNTSvUKPt",
                  "subtotal": 300,
                  "tax": null,
                  "tax_percent": null,
                  "total": 300,
                  "webhooks_delivered_at": null
                }
              },
              "livemode": false,
              "pending_webhooks": 0,
              "request": "req_7uA70zC9sgVZkZ",
              "type": "invoice.payment_succeeded"
            },
            {
              "id": "evt_17eLmpKmEW6wqTn5lIfoUsdO",
              "object": "event",
              "api_version": "2015-10-16",
              "created": 1455440603,
              "data": {
                "object": {
                  "id": "in_17eLmpKmEW6wqTn5tb[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_17eLmpKmEW6wqTn5lIfoUsdO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |[...]
[...]
