---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "cus_7gzesiEhavU9M2",
              "object": "customer",
              "account_balance": 0,
              "created": 1452403376,
              "currency": "usd",
              "default_source": "card_17RbfKKmEW6wqTn56ZgM5Agf",
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": "search0002@drumknottsearch.com",
              "livemode": false,
              "metadata": {},
              "shipping": null,
              "sources": {
                "object": "list",
                "data": [
                  {
                    "id": "card_17RbfKKmEW6wqTn56ZgM5Agf",
                    "object": "card",
                    "address_city": null,
                    "address_country": null,
                    "address_line1": null,
                    "address_line1_check": null,
                    "address_line2": null,
                    "address_state": null,
                    "address_zip": null,
                    "address_zip_check": null,
                    "brand": "Visa",
                    "country": "US",
                    "customer": "cus_7gzesiEhavU9M2",
                    "cvc_check": "pass",
                    "dynamic_last4": null,
                    "exp_month": 1,
                    "exp_year": 2018,
                    "fingerprint": "fJA9T7VsmVzC26CG",
                    "funding": "credit",
                    "last4": "4242",
                    "metadata": {},
                    "name": null,
                    "tokenization_method": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_7gzesiEhavU9M2/sources"
              },
              "subscriptions": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_7gzefslapVfMP9",
                    "object": "subscription",
                    "application_fee_percent": null,
                    "cancel_at_period_end": true,
                    "canceled_at": 1452403391,
                    "current_period_end": 1455081784,
                    "current_period_start": 1452403384,
                    "customer": "cus_7gzesiEhavU9M2",
                    "discount": null,
                    "ended_at": null,
                    "metadata": {},
                    "plan": {
                      "id": "drumknott",
                      "object": "plan",
                      "amount": 300,
                      "created": 1452403374,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Drumknott Test",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "quantity": 1,
                    "start": 1452403384,
                    "status": "active",
                    "tax_percent": null,
                    "trial_end": null,
                    "trial_start": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_7gzesiEhavU9M2/subscriptions"
              }
            }
          ],
          "has_more": false,
          "url": "/v1/customers"
        }
  recorded_at: Sun, 10 Jan 2016 05:23:19 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_7gzesiEhavU9M2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "cus_7gzesiEhavU9M2"
        }
  recorded_at: Sun, 10 Jan 2016 05:23:20 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/coupons"
        }
  recorded_at: Sun, 10 Jan 2016 05:23:21 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "drumknott",
              "object": "plan",
              "amount": 300,
              "created": 1452403374,
              "currency": "usd",
              "interval": "month",
              "interval_count": 1,
              "livemode": false,
              "metadata": {},
              "name": "Drumknott Test",
              "statement_descriptor": null,
              "trial_period_days": null
            }
          ],
          "has_more": false,
          "url": "/v1/plans"
        }
  recorded_at: Sun, 10 Jan 2016 05:23:22 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/plans/drumknott
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "drumknott"
        }
  recorded_at: Sun, 10 Jan 2016 05:23:24 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=123&card[exp_month]=1&card[exp_year]=2018&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17RbfqKmEW6wqTn5R5gdmqW5",
          "object": "token",
          "card": {
            "id": "card_17RbfqKmEW6wqTn5Gc2m8EWQ",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 1,
            "exp_year": 2018,
            "fingerprint": "fJA9T7VsmVzC26CG",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "1.152.96.46",
          "created": 1452403410,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sun, 10 Jan 2016 05:23:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7gzfH3JDXSqceU/sources
    body:
      encoding: US-ASCII
      string: source=tok_17RbfqKmEW6wqTn5R5gdmqW5
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_17RbfqKmEW6wqTn5Gc2m8EWQ",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_7gzfH3JDXSqceU",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 1,
          "exp_year": 2018,
          "fingerprint": "fJA9T7VsmVzC26CG",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Sun, 10 Jan 2016 05:23:34 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7gzfH3JDXSqceU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
      [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7gzfH3JDXSqceU/subscriptions
    body:
      encoding: US-ASCII
      string: plan=drumknott
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "evt_17RbfzKmEW6wqTn5nGB4USn4",
              "object": "event",
              "api_version": "2015-10-16",
              "created": 1452403419,
              "data": {
                "object": {
                  "id": "sub_7gzf5rM175H2PP",
                  "object": "subscription",
                  "application_fee_percent": null,
                  "cancel_at_period_end": false,
                  "canceled_at": null,
                  "current_period_end": 1455081818,
                  "current_period_start": 1452403418,
                  "customer": "cus_7gzfH3JDXSqceU",
                  "discount": null,
                  "ended_at": null,
                  "metadata": {},
                  "plan": {
                    "id": "drumknott",
                    "object": "plan",
                    "amount": 300,
                    "created": 1452403405,
                    "currency": "usd",
                    "interval": "month",
                    "interval_count": 1,
                    "livemode": false,
                    "metadata": {},
                    "name": "Drumknott Test",
                    "statement_descriptor": null,
                    "trial_period_days": null
                  },
                  "quantity": 1,
                  "start": 1452403418,
                  "status": "active",
                  "tax_percent": null,
                  "trial_end": null,
                  "trial_start": null
                }
              },
              "livemode": false,
              "pending_webhooks": 0,
              "request": "req_7gzfo39hq7ALgM",
              "type": "customer.subscription.created"
            },
            {
              "id": "evt_17RbfzKmEW6wqTn5T7bx55vE",
              "object": "event",
              "api_version": "2015-10-16",
              "created": 1452403419,
              "data": {
                "object": {
                  "id": "in_17RbfyKmEW6wqTn5m4JJJsoF",
                  "object": "invoice",
                  "amount_due": 300,
                  "application_fee": null,
                  "attempt_count": 1,
                  "attempted": true,
                  "charge": "ch_17RbfyKmEW6wqTn5MXskz0Gq",
                  "closed": true,
                  "currency": "usd",
                  "customer": "cus_7gzfH3JDXSqceU",
                  "date": 1452403418,
                  "description": null,
                  "discount": null,
                  "ending_balance": 0,
                  "forgiven": false,
                  "lines": {
                    "object": "list",
                    "data": [
                      {
                        "id": "sub_7gzf5rM175H2PP",
                        "object": "line_item",
                        "amount": 300,
                        "currency": "usd",
                        "description": null,
                        "discountable": true,
                        "livemode": false,
                        "metadata": {},
                        "period": {
                          "start": 1452403418,
                          "end": 1455081818
                        },
                        "plan": {
                          "id": "drumknott",
                          "object": "plan",
                          "amount": 300,
                          "created": 1452403405,
                          "currency": "usd",
                          "interval": "month",
                          "interval_count": 1,
                          "livemode": false,
                          "metadata": {},
                          "name": "Drumknott Test",
                          "statement_descriptor": null,
                          "trial_period_days": null
                        },
                        "proration": false,
                        "quantity": 1,
                        "subscription": null,
                        "type": "subscription"
                      }
                    ],
                    "has_more": false,
                    "total_count": 1,
                    "url": "/v1/invoices/in_17RbfyKmEW6wqTn5m4JJJsoF/lines"
                  },
                  "livemode": false,
                  "metadata": {},
                  "next_payment_attempt": null,
                  "paid": true,
                  "period_end": 1452403418,
                  "period_start": 1452403418,
                  "receipt_number": null,
                  "starting_balance": 0,
                  "statement_descriptor": null,
                  "subscription": "sub_7gzf5rM175H2PP",
                  "subtotal": 300,
                  "tax": null,
                  "tax_percent": null,
                  "total": 300,
                  "webhooks_delivered_at": null
                }
              },
              "livemode": false,
              "pending_webhooks": 0,
              "request": "req_7gzfo39hq7ALgM",
              "type": "invoice.payment_succeeded"
            },
            {
              "id": "evt_17RbfyKmEW6wqTn5QCJHE2pP",
              "object": "event",
              "api_version": "2015-10-16",
              "created": 1452403418,
              "data": {
                "object": {
                  "id": "in_17RbfyKmEW6wqTn5m4[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_17RbfyKmEW6wqTn5QCJHE2pP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |[...]
[...]
