---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "cus_7giLPSyQhbU0Ja",
              "object": "customer",
              "account_balance": 0,
              "created": 1452338973,
              "currency": "usd",
              "default_source": "card_17RKuYKmEW6wqTn59W8HXM0A",
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": "search0001@drumknottsearch.com",
              "livemode": false,
              "metadata": {},
              "shipping": null,
              "sources": {
                "object": "list",
                "data": [
                  {
                    "id": "card_17RKuYKmEW6wqTn59W8HXM0A",
                    "object": "card",
                    "address_city": null,
                    "address_country": null,
                    "address_line1": null,
                    "address_line1_check": null,
                    "address_line2": null,
                    "address_state": null,
                    "address_zip": null,
                    "address_zip_check": null,
                    "brand": "Visa",
                    "country": "US",
                    "customer": "cus_7giLPSyQhbU0Ja",
                    "cvc_check": "pass",
                    "dynamic_last4": null,
                    "exp_month": 1,
                    "exp_year": 2018,
                    "fingerprint": "fJA9T7VsmVzC26CG",
                    "funding": "credit",
                    "last4": "4242",
                    "metadata": {},
                    "name": null,
                    "tokenization_method": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_7giLPSyQhbU0Ja/sources"
              },
              "subscriptions": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/customers/cus_7giLPSyQhbU0Ja/subscriptions"
              }
            }
          ],
          "has_more": false,
          "url": "/v1/customers"
        }
  recorded_at: Sat, 09 Jan 2016 11:34:06 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_7giLPSyQhbU0Ja
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "cus_7giLPSyQhbU0Ja"
        }
  recorded_at: Sat, 09 Jan 2016 11:34:07 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/coupons"
        }
  recorded_at: Sat, 09 Jan 2016 11:34:08 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "drumknott",
              "object": "plan",
              "amount": 300,
              "created": 1452338972,
              "currency": "usd",
              "interval": "month",
              "interval_count": 1,
              "livemode": false,
              "metadata": {},
              "name": "Drumknott Test",
              "statement_descriptor": null,
              "trial_period_days": null
            }
          ],
          "has_more": false,
          "url": "/v1/plans"
        }
  recorded_at: Sat, 09 Jan 2016 11:34:09 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/plans/drumknott
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "drumknott"
        }
  recorded_at: Sat, 09 Jan 2016 11:34:10 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=123&card[exp_month]=1&card[exp_year]=2018&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17RKz4KmEW6wqTn5GnmuS9ND",
          "object": "token",
          "card": {
            "id": "card_17RKz4KmEW6wqTn5c9AqOm0b",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 1,
            "exp_year": 2018,
            "fingerprint": "fJA9T7VsmVzC26CG",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "118.209.178.50",
          "created": 1452339254,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sat, 09 Jan 2016 11:34:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7giPhwv91G0dw1/sources
    body:
      encoding: US-ASCII
      string: source=tok_17RKz4KmEW6wqTn5GnmuS9ND
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_17RKz4KmEW6wqTn5c9AqOm0b",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_7giPhwv91G0dw1",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 1,
          "exp_year": 2018,
          "fingerprint": "fJA9T7VsmVzC26CG",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Sat, 09 Jan 2016 11:34:15 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7giPhwv91G0dw1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
      [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7giPhwv91G0dw1/subscriptions
    body:
      encoding: US-ASCII
      string: plan=drumknott
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_7giPvLyvg1b1xH",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "current_period_end": 1455017658,
          "current_period_start": 1452339258,
          "customer": "cus_7giPhwv91G0dw1",
          "discount": null,
          "ended_at": null,
          "metadata": {},
          "plan": {
            "id": "drumknott",
            "object": "plan",
            "amount": 300,
            "created": 1452339251,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "Drumknott Test",
            "statement_descriptor": null,
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1452339258,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Sat, 09 Jan 2016 11:34:18 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7giPhwv91G0dw1/subscriptions/sub_7giPvLyvg1b1xH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encod[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "evt_17RKzCKmEW6wqTn5J6NNbICf",
              "object": "event",
              "api_version": "2015-10-16",
              "created": 1452339262,
              "data": {
                "object": {
                  "id": "sub_7giPvLyvg1b1xH",
                  "object": "subscription",
                  "application_fee_percent": null,
                  "cancel_at_period_end": false,
                  "canceled_at": 1452339261,
                  "current_period_end": 1455017658,
                  "current_period_start": 1452339258,
                  "customer": "cus_7giPhwv91G0dw1",
                  "discount": null,
                  "ended_at": 1452339261,
                  "metadata": {},
                  "plan": {
                    "id": "drumknott",
                    "object": "plan",
                    "amount": 300,
                    "created": 1452339251,
                    "currency": "usd",
                    "interval": "month",
                    "interval_count": 1,
                    "livemode": false,
                    "metadata": {},
                    "name": "Drumknott Test",
                    "statement_descriptor": null,
                    "trial_period_days": null
                  },
                  "quantity": 1,
                  "start": 1452339258,
                  "status": "canceled",
                  "tax_percent": null,
                  "trial_end": null,
                  "trial_start": null
                }
              },
              "livemode": false,
              "pending_webhooks": 0,
              "request": "req_7giQ3wPHQSivUC",
              "type": "customer.subscription.deleted"
            },
            {
              "id": "evt_17RKz8KmEW6wqTn5MANYs6sK",
              "object": "event",
              "api_version": "2015-10-16",
              "created": 1452339258,
              "data": {
                "object": {
                  "id": "sub_7giPvLyvg1b1xH",
                  "object": "subscription",
                  "application_fee_percent": null,
        [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_17RKzCKmEW6wqTn5J6NNbICf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kibspKiVyzKxsbnIIONwYaco
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |[...]
