---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "cus_7uAY6wn5xerj9p",
              "object": "customer",
              "account_balance": 0,
              "created": 1455442253,
              "currency": "usd",
              "default_source": "card_7uAYrPqHgEr3Aq",
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": "pat+other1@freelancing-gods.com",
              "livemode": false,
              "metadata": {},
              "shipping": null,
              "sources": {
                "object": "list",
                "data": [
                  {
                    "id": "card_7uAYrPqHgEr3Aq",
                    "object": "card",
                    "address_city": null,
                    "address_country": null,
                    "address_line1": null,
                    "address_line1_check": null,
                    "address_line2": null,
                    "address_state": null,
                    "address_zip": null,
                    "address_zip_check": null,
                    "brand": "Visa",
                    "country": "US",
                    "customer": "cus_7uAY6wn5xerj9p",
                    "cvc_check": "pass",
                    "dynamic_last4": null,
                    "exp_month": 2,
                    "exp_year": 2022,
                    "fingerprint": "DCZbB0jNI6O56OrA",
                    "funding": "credit",
                    "last4": "4242",
                    "metadata": {},
                    "name": "pat+other1@freelancing-gods.com",
                    "tokenization_method": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_7uAY6wn5xerj9p/sources"
              },
              "subscriptions": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_7uAis5aQud8ieg",
                    "object": "subscription",
                    "application_fee_percent": null,
                    "cancel_at_period_end": false,
                    "canceled_at": null,
                    "created": 1455442861,
                    "current_period_end": 1500025261,
                    "current_period_start": 1497433261,
                    "customer": "cus_7uAY6wn5xerj9p",
                    "discount": null,
                    "ended_at": null,
                    "items": {
                      "object": "list",
                      "data": [
                        {
                          "id": "si_08UarPkKe4kFpYbdEayfvOca",
                          "object": "subscription_item",
                          "created": 1455442862,
                          "plan": {
                            "id": "drumknott",
                            "object": "plan",
                            "amount": 300,
                            "created": 1452315012,
                            "currency": "usd",
                            "interval": "month",
                            "interval_count": 1,
                            "livemode": false,
                            "metadata": {},
                            "name": "Drumknott",
                            "statement_descriptor": "Drumknott Search",
                            "trial_period_days": null
                          },
                          "quantity": 1
                        }
                      ],
                      "has_more": false,
                      "total_count": 1,
                      "url": "/v1/subscription_items?subscription=sub_7uAis5aQud8ieg"
                    },
                    "livemode": false,
                    "metadata": {},
                    "plan": {
                      "id": "drumknott",
                      "object": "plan",
                      "amount": 300,
                      "created": 1452315012,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Drumknott",
                      "statement_descriptor": "Drumknott Search",
                      "trial_period_days": null
                    },
                    "quantity": 1,
                    "start": 1455442861,
                    "status": "active",
                    "tax_percent": null,
                    "trial_end": null,
                    "trial_start": null
                  },
                  {
                    "id": "sub_7uAYiD1h8qVwiS",
                    "object": "subscription",
                    "application_fee_percent": null,
                    "cancel_at_period_end": false,
                    "canceled_at": null,
                    "created": 1455442255,
                    "current_period_end": 1500024655,
                    "current_period_start": 1497432655,
                    "customer": "cus_7uAY6wn5xerj9p",
       [...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_7uAY6wn5xerj9p
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "cus_7uAY6wn5xerj9p"
        }
  recorded_at: Wed, 12 Jul 2017 22:49:25 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_7uAUqwbIIRo3Zb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "cus_7uAUqwbIIRo3Zb"
        }
  recorded_at: Wed, 12 Jul 2017 22:49:26 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_7gbxusFK7twfpI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "cus_7gbxusFK7twfpI"
        }
  recorded_at: Wed, 12 Jul 2017 22:49:28 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_7IngbENhC2VWj2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "cus_7IngbENhC2VWj2"
        }
  recorded_at: Wed, 12 Jul 2017 22:49:29 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_7IjgBu4e1mtQkj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "cus_7IjgBu4e1mtQkj"
        }
  recorded_at: Wed, 12 Jul 2017 22:49:31 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_7IRO79TSVZ54el
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "cus_7IRO79TSVZ54el"
        }
  recorded_at: Wed, 12 Jul 2017 22:49:32 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_7IRJFLuqh9osvK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "cus_7IRJFLuqh9osvK"
        }
  recorded_at: Wed, 12 Jul 2017 22:49:33 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_7IRDRgVeA8GsUU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "cus_7IRDRgVeA8GsUU"
        }
  recorded_at: Wed, 12 Jul 2017 22:49:34 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_7IR6GF3ZqljL3p
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "cus_7IR6GF3ZqljL3p"
        }
  recorded_at: Wed, 12 Jul 2017 22:49:35 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_7IR5PR9Clj7GA5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "cus_7IR5PR9Clj7GA5"
        }
  recorded_at: Wed, 12 Jul 2017 22:49:37 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/coupons"
        }
  recorded_at: Wed, 12 Jul 2017 22:49:38 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object":[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/plans/drumknott
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "drumknott"
        }
  recorded_at: Wed, 12 Jul 2017 22:49:40 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/plans/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "test"
        }
  recorded_at: Wed, 12 Jul 2017 22:49:41 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=1&card[exp_year]=2019&card[cvc]=123
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_B0vVAvZQIfXYLR",
          "object": "token",
          "card": {
            "id": "card_B0vVVo1tIYHwGX",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 1,
            "exp_year": 2019,
            "fingerprint": "DCZbB0jNI6O56OrA",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "1.152.97.9",
          "created": 1499899783,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 12 Jul 2017 22:49:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_B0vVIANGuxSpD4/sources
    body:
      encoding: UTF-8
      string: source=tok_B0vVAvZQIfXYLR
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_B0vVVo1tIYHwGX",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_B0vVIANGuxSpD4",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 1,
          "exp_year": 2019,
          "fingerprint": "DCZbB0jNI6O56OrA",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null
        }
  recorded_at: Wed, 12 Jul 2017 22:49:45 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_B0vVIANGuxSpD4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
      [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_B0vVIANGuxSpD4/subscriptions
    body:
      encoding: UTF-8
      string: plan=drumknott
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_B0vVIANGuxSpD4/subscriptions/sub_B0vVpZ6bqn0xDs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encod[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/subscriptions/sub_B0vVpZ6bqn0xDs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "evt_B0vVrIkNHEUxMb",
              "object": "event",
              "api_version": "2015-10-16",
              "created": 1499899791,
              "data": {
                "object": {
                  "id": "sub_B0vVpZ6bqn0xDs",
                  "object": "subscription",
                  "application_fee_percent": null,
                  "cancel_at_period_end": false,
                  "canceled_at": 1499899791,
                  "created": 1499899787,
                  "current_period_end": 1502578187,
                  "current_period_start": 1499899787,
              [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_B0vVrIkNHEUxMb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aAcnj1rwUlr0eRc4MrHxFvsye3Dd4GXU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {[...]
