%p Hi there!

%p Thanks for signing up to Drumknott. You can confirm your email address using the following link:

%p= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)

%p If you have any questions or feedback about Drumknott, just hit reply and get in touch.

%p Kind regards,

%p
  Pat Allan
  %br/
  Drumknott
