%p Hi there!

%p Someone has requested a link to change your password. You can do this through the following link:

%p= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token)

%p If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.

%p If you have any questions or feedback about Drumknott, just hit reply and get in touch.

%p Kind regards,

%p
  Pat Allan
  %br/
  Drumknott
